doctype html
div
  h1(style='font-weight: bold') Red Hat Access: Case {{caseId}}
div(x-login-status)
  input.form-control(style='width: 50%;', ng-model='summary')
br
div.container-fluid
  div.row
    h4.col-xs-12.section-header Case Details
    div.container-fluid
      div.row
        div.col-xs-4
          table.table.details-table
            tr
              th.details-table-header Case Type:
              td
                select.form-control(
                  style='width: 100%;',
                  ng-model='type',
                  ng-options='c.name for c in caseTypes track by c.name')
            tr
              th.details-table-header Severity:
              td
                select.form-control(
                  style='width: 100%;',
                  ng-model='severity',
                  ng-options='s.name for s in severities track by s.name')
            tr
              th.details-table-header Status:
              td
                select.form-control(
                  style='width: 100%;',
                  ng-model='status',
                  ng-options='s.name for s in statuses track by s.name')
            tr
              th.details-table-header Alternate ID:
              td
                input.form-control(style='width: 100%', ng-model='alternate_id')
        div.col-xs-4
          table.table.details-table
            tr
              th Product:
              td
                select.form-control(
                  style='width: 100%;',
                  ng-model='product',
                  ng-change='getProductVersions(product)',
                  ng-options='s.name for s in products track by s.name')
            tr
              th.details-table-header Product Version:
              td
                select.form-control(
                  style='width: 100%;',
                  ng-options='v for v in versions track by v',
                  ng-model='version')
            tr
              th.details-table-header Support Level:
              td {{sla}}
            tr
              th.details-table-header Owner:
              td {{contact_name}}
            tr
              th.details-table-header Red Hat Owner:
              td {{owner}}
        div.col-xs-4
          table.table.details-table
            tr
              th.details-table-header Group:
              td
                select.form-control(
                  style='width: 100%;',
                  ng-options='g.name for g in groups track by g.number',
                  ng-model='group')
            tr
              th.details-table-header Opened:
              td
                div {{created_date | date:'medium'}}
                div {{created_by}}
            tr
              th.details-table-header Last Updated:
              td
                div {{last_modified_date | date:'medium'}}
                div {{last_modified_by}}
            tr
              th.details-table-header Account Number:
              td {{account_number}}
            tr
              th.details-table-header Account Name:
              td {{account_name}}
      div.row
        div.col-xs-12
          button.btn(ng-disabled='true', style='float: right;') Update
  div.row
    h4.col-xs-12.section-header Description
    div.container-fluid
      div.row
        div.col-xs-3
          strong {{created_by}}
        div.col-xs-9 {{description}}
  div.row
    h4.col-xs-12.section-header Bugzilla Tickets
    div.container-fluid
      div.row
        div(ng-if='!hasBugzillas')
          div.col-xs-12 No Bugzillas linked to case.
        div(ng-if='hasBugzillas')
          div.col-xs-12 Yes Bugzillas
  div.row
    h4.col-xs-12.section-header Attachments
    div.container-fluid
      div.row
        div.col-xs-12
          table.table.table-hover.table-bordered
            thead
              th Filename
              th Description
              th Size
              th Attached
              th Attached By
            tbody
              tr(ng-repeat='attachment in attachments')
                td
                  a(href='{{attachment.uri}}') {{attachment.file_name}}
                td {{attachment.description}}
                td {{attachment.length}}
                td {{attachment.created_date | date:'medium'}}
                td {{attachment.created_by}}
      div.row
        div.col-xs-6.col-no-padding
          div.container-fluid
            div.row.create-field
              div.col-xs-12
                div Attach Foreman logs:
                select.form-control(multiple)
                  option Log1
                  option Log2
                  option Log3
                  option Log4
                  option Log5
                  option Log6
            div.row.create-field
              div.col-xs-12
                button.btn(ng-disabled='true', style='float: right;') Add
        div.col-xs-6.col-no-padding
          div.container-fluid
            div.row.create-field
              div.col-xs-4
                button.btn(style='float: left;') Attach local file
              div.col-xs-8
                div(style='float: left; word-wrap: break-word; width: 100%;') {{fileName}}
            div.row.create-field
              div.col-xs-12(style='font-size: 80%;')
                span File names must be less than 80 characters. Maximum file size for web-uploaded attachments is 250 MB. Please FTP larger files to dropbox.redhat.com.&nbsp;
                span
                  a(href='https://access.devgssci.devlab.phx1.redhat.com/knowledge/solutions/2112') (More info)
            div.row.create-field
              div.col-xs-12
                input.form-control(style='float: left;', placeholder='File description')
            div.row.create-field
              div.col-xs-12
                button.btn(ng-disabled='true', style='float: right;') Add
  div.row(ng-controller='RecommendationsController')
    h4.col-xs-12.section-header Recommendations
    div.container-fluid
      div.row
        div(ng-repeat='recommendation in recommendationsOnScreen')
          div.col-xs-3
            div.bold {{recommendation.title}}
            div(style='padding: 8px 0;') {{recommendation.solution_abstract}}
            a(href='{{recommendation.resource_view_uri}}', target='_blank') View full article in new window
      div.row
        div.col-xs-12
          pagination.pagination-sm(
            boundary-links='true'
            total-items='recommendations.length'
            on-select-page='selectPage(page)'
            items-per-page='itemsPerPage'
            page='currentPage'
            max-size='maxSize'
            previous-text='<'
            next-text='>'
            first-text='<<'
            last-text='>>')
  div.row
    h4.col-xs-12.section-header Case Discussion
    div.container-fluid
      div.row.create-field
        div.col-xs-12
          textarea.form-control(rows='5')
      div.row.create-field.bottom-border(style='margin-left: 0px; margin-right: 0px;')
        div.col-xs-12.col-no-padding
          button.btn(ng-disabled='true', style='float: right;') Add comment
      div.row
        div(ng-repeat='comment in comments')
          div.col-xs-2
            div.bold {{comment.created_by}}
            div {{comment.created_date | date:'mediumDate'}}
            div {{comment.created_date | date:'mediumTime'}}
          div.col-xs-10
            pre {{comment.text}}
