div(style='margin-left: 60px; margin-right: 60px;')
  div.well(style='margin-bottom: 10px;')
    textarea#case-comment-box.form-control(
      ng-disabled='addingComment',
      rows='5',
      ng-model='CaseService.commentText',
      style='max-width: 100%',
      ng-keypress='onNewCommentKeypress()')
    div(style='padding-top: 10px;')
      div(ng-if='securityService.loginStatus.isInternal')
        span(style='float: left;') {{'Is Public:'|translate}}
        input(type='checkbox', ng-model='CaseService.isCommentPublic', style='display: inline-block;')
      span.hidden {{'You have used 0% of the 32KB maximum description size.'|translate}}
      span.pull-right.rha-bold(ng-show='savingDraft') {{'Saving draft...'|translate}}
      span.pull-right.rha-bold(ng-show='draftSaved') {{'Draft saved'|translate}}
  div(style='float: right;')
    span.rha-search-spinner(ng-show='addingComment')
    button.btn.btn-primary(
      ng-hide='addingComment',
      ng-disabled='false',
      ng-click='addComment()',
      style='float: right;',translate='') Add Comment
