textarea.comment#case-comment-box.form-control(
  ng-disabled='addingComment',
  maxlength='32000',
  rows='5',
  ng-model='CaseService.commentText',
  style='max-width: 100%',
  ng-change='onNewCommentKeypress()')
#commentNotice.uploadNotice
    span {{'You have used'|translate}}
    span.progressBarWrap
      span.progressCount {{progressCount}} %
    span {{'of the 32K maximum description size.'|translate}}
//div(ng-if='securityService.loginStatus.authedUser.is_internal')
div
  div
    span {{'Is Public:'|translate}}
    input#rha-case-comment-isPublic(type='checkbox', ng-model='CaseService.isCommentPublic',ng-change= 'onCommentPublicChange()',style='display: inline-block;')
  span.pull-right.rha-bold(ng-show='savingDraft') {{'Saving draft...'|translate}}
  span.pull-right.rha-bold(ng-show='CaseService.draftSaved && !savingDraft') {{'Draft saved'|translate}}
div
  .spinner.spinner-inline(ng-show='addingComment')
  button#rha-case-addcommentbutton.btn.btn-primary(
    ng-hide='addingComment',
    ng-disabled='CaseService.disableAddComment',
    ng-click='addComment()',
    style='float: right;',translate='') Add Comment
