.row
  .col-sm-12
    .pull-right(ng-if='securityService.loginStatus.authedUser.is_internal')
      span &nbsp{{'Is Public:'|translate}}
      input#rha-case-comment-isPublic(type='checkbox', ng-model='CaseService.isCommentPublic',ng-change= 'onCommentPublicChange()')
textarea.comment.expand#case-comment-box.form-control(
  ng-disabled='addingComment',
  maxlength='32000',
  rows='5',
  ng-model='CaseService.commentText',
  ng-change='onNewCommentKeypress()',
  ng-click='DiscussionService.commentTextBoxEnlargen=true',
  ng-class='{"expanded": DiscussionService.commentTextBoxEnlargen}',
  ng-blur='shouldTextboxMinimize()')
div(ng-show='EDIT_CASE_CONFIG.showAttachments && securityService.loginStatus.authedUser.can_add_attachments')
  div(rha-listnewattachments='')
.row
  .col-xs-7
    #commentNotice.uploadNotice(ng-hide='progressCount < 90')
        span.progressBarWrap
          span.progressCount {{charactersLeft}}
        span {{' characters left.'|translate}}
    div(ng-hide='ie8 || ie9 || !EDIT_CASE_CONFIG.showAttachments || !securityService.loginStatus.authedUser.can_add_attachments', rha-attachlocalfile='', disabled='CaseService.submittingCase')
      .margin-top-short(ng-bind-html='AttachmentsService.parseArtifactHtml()')
    div(ng-show='EDIT_CASE_CONFIG.showAttachments && securityService.loginStatus.authedUser.can_add_attachments')
      .rha-bottom-border(ng-hide='ie8 && EDIT_CASE_CONFIG.isPCM || ie9 && EDIT_CASE_CONFIG.isPCM')
        .row(ng-hide='CaseService.submittingCase')
          .col-xs-12
            div(ng-show='EDIT_CASE_CONFIG.showServerSideAttachments')
              .server-attach-header Server File(s) To Attach:
               div(rha-choicetree='',
                 ng-model='attachmentTree',
                 ng-controller='BackEndAttachmentsCtrl')
      div(ng-show='ie8 && EDIT_CASE_CONFIG.isPCM || ie9 && EDIT_CASE_CONFIG.isPCM')
        form#fileUploaderForm(enctype="multipart/form-data", method="post",target="upload_target")
          .row
            .col-xs-6
              input(id='fileUploader', type='file', value='upload',name='file')
            .col-xs-6 {{fileName}}
          .row
            .col-xs-12(style='font-size: 80%;')
              div(ng-bind-html='parseArtifactHtml()')
            .col-xs-12(style='font-size: 80%;')
              span {{'File names must be less than 80 characters. Maximum file size for web-uploaded attachments is 1 GB. Please FTP larger files to dropbox.redhat.com.'|translate}}&nbsp;
              span
                a(href='https://access.redhat.com/knowledge/solutions/2112', target='_blank') {{'(More info)'|translate}}
          .row
            .col-xs-12
              input#fileDescription.form-control(
                style='float: left;',
                type='text',
                name='description',
                ng-model='ieFileDescription',
                placeholder="{{'File description'|translate}}")
        iframe#upload_target(name='upload_target', style='width: 0; height: 0; border: 0px solid #fff;')
  .col-xs-5
    .pull-right
      .spinner.spinner-inline(ng-show='addingComment || addingattachment')
      button#rha-case-addcommentbutton.btn.btn-accent.btn-submit(
        ng-hide='addingComment || addingattachment',
        ng-disabled='CaseService.disableAddComment && AttachmentsService.updatedAttachments.length === 0 && !AttachmentsService.hasBackEndSelections()',
        ng-click='addComment()',
        translate='') Post
      a.margin-left#rha-case-addcommentbutton(ng-click='clearComment()') Cancel
