.page-header(rha-header='', page='')
h1(ng-show='securityService.loginStatus.verifying || securityService.loginStatus.isLoggedIn') Advanced case search
a(href="https://access.redhat.com/articles/2390851#advanced_search", target="_blank") {{"Advanced Case Search User Guide" | translate}}
div.bookmarked-searches(ng-show="securityService.loginStatus.isLoggedIn")
    .pull-right
        a.search-public-link(ng-href="{{bookmarkPublicLink()}}", ng-show="selectedBookmark", uib-tooltip="{{'Public link to this Search' | translate}}")
            span.glyphicon.glyphicon-link
            span(translate) &nbsp;Link
        button.btn.btn-sm.btn-danger(type="button", ng-show="selectedBookmark", ng-click="removeSearchBookmark()", uib-tooltip="{{'Remove this Bookmark' | translate}}")
            span.glyphicon.glyphicon-remove
            span(translate) &nbsp;Remove
        button.btn.btn-sm.btn-info(type="button", ng-disabled="queryEmpty()", ng-click="bookmarkSearch()", uib-tooltip="{{(selectedBookmark ? 'Update this Bookmark' : 'Create New Bookmark') | translate}}")
            span.glyphicon.glyphicon-floppy-save
            span(translate) &nbsp;{{selectedBookmark ? 'Update' : 'Save'}}
    b(translate) Bookmarked Searches:&nbsp;
    select(chosen, allow-single-deselect="true", ng-options="src as src.name for src in bookmarks", ng-model="selectedBookmark", width="'400px'",
    disable-search="true", no-results-text="'{{'No bookmarked searches' | translate}}'", placeholder-text-single="'{{'Select Bookmarked Search' | translate}}'")
        option(value="")
div.spinner(ng-show='securityService.loginStatus.verifying')
div(ng-if='securityService.loginStatus.isLoggedIn')
    div(rha-solr-query-input, solr-query="$parent.solrQuery", parse-successful="$parent.queryParsed", submit='$parent.submitSearch()')
    hr
    #search-area
        .pull-right
            button.export.btn.btn-link(ng-click="exportCsv()", ng-show="!AdvancedCaseSearchService.searching && AdvancedCaseSearchService.totalCases > 0", ng-disabled="AdvancedCaseSearchService.exporting")
                span(ng-show="AdvancedCaseSearchService.exporting")
                    span(translate) Exporting to CSV&nbsp;
                    span.spinner.spinner-inline.spinner-sm
                span(translate, ng-hide="AdvancedCaseSearchService.exporting") Export to CSV
            div.search-order(rha-filterselect='')
            button#search-button.btn.btn-app.btn-lg(ng-click="$parent.submitSearch()", ng-disabled='!$parent.queryParsed || !searchChanged()', ng-class="{'btn-primary': !(!$parent.queryParsed || !searchChanged()) }")
                i.glyphicon.glyphicon-search
                = ' Search'
        div(ng-show="!AdvancedCaseSearchService.searching && AdvancedCaseSearchService.query != null && AdvancedCaseSearchService.totalCases === 0")
            .alert.alert-warning No cases found.
        div(ng-show="AdvancedCaseSearchService.query != null && AdvancedCaseSearchService.cases.length > 0 && AdvancedCaseSearchService.totalCases != null")
            span(translate) Showing {{AdvancedCaseSearchService.getCasesStart()}} to {{AdvancedCaseSearchService.getCasesEnd()}} of {{AdvancedCaseSearchService.totalCases}} search results
    rha-advanced-search-case-list(
        cases="AdvancedCaseSearchService.cases"
        offset="AdvancedCaseSearchService.getCasesStart() - 1"
        limit="AdvancedCaseSearchService.pageSize",
        loading="AdvancedCaseSearchService.searching")
    div(ng-show="AdvancedCaseSearchService.searching")
        p.center
            span.spinner.spinner-inline
            span {{'Loading cases...'|translate}}

    .row(ng-show='!AdvancedCaseSearchService.searching && AdvancedCaseSearchService.totalCases > 0 && AdvancedCaseSearchService.totalCases > AdvancedCaseSearchService.pageSize')
        .col-sm-6
            .pull-left
                a.btn.btn-app.btn-sm(ng-disabled="AdvancedCaseSearchService.currentPage == 1", ng-click="AdvancedCaseSearchService.currentPage=AdvancedCaseSearchService.currentPage-1; doSearch()") Previous
        .col-sm-6
            .pull-right
                a.btn.btn-app.btn-sm(ng-disabled="AdvancedCaseSearchService.currentPage >= AdvancedCaseSearchService.numberOfPages()", ng-click="AdvancedCaseSearchService.currentPage=AdvancedCaseSearchService.currentPage+1; doSearch()") Next
