h4.rha-section-header(translate='') Attachments
span.rha-search-spinner(ng-show='loading')
div.container-fluid.rha-side-padding(ng-hide='loading || ie8 && isPCM')
  div.row.rha-side-padding
    div.col-xs-12.rha-col-no-padding
      div(rha-listattachments='')
  div.row(style='border-top: 1px solid #cccccc; padding-top: 10px; margin: 0;')
  div(ng-hide='AttachmentsService.updatedAttachments.length <= 0 && TreeViewSelectorUtils.getSelectedLeaves(AttachmentsService.backendAttachments).length <= 0')
    div.row.rha-side-padding
      div.col-xs-12.rha-col-no-padding
        div(rha-listnewattachments)
    div.row.rha-side-padding
      div.col-xs-12.rha-col-no-padding(style='padding-bottom: 14px;')
        div(style='float: right')
          span.rha-search-spinner(ng-show='updatingAttachments')
          button.btn.btn-primary(
            ng-hide='updatingAttachments',
            ng-click='doUpdate()', translate='') Upload Attachments
    div.row(style='border-top: 1px solid #cccccc; padding-top: 10px; margin: 0;')
  div.row
    div.col-xs-12
      div(rha-attachlocalfile='')
  div(ng-show='showServerSideAttachments')
    div.row
      div.col-xs-12
        div.server-attach-header {{'Server File(s) To Attach:'|translate}}
        div(rha-choicetree='',
          ng-model='attachmentTree',
          ng-controller='BackEndAttachmentsCtrl',
          rhaDisabled='rhaDisabled')
div(ng-show='!loading && ie8 && isPCM')
