h4.section-header Case Discussion
span.rha-search-spinner(ng-show='loading')
div.container-fluid.side-padding(ng-hide='loading')
  div.row.create-field
    div.col-xs-12
      x-rha-add-comment-section
  div(ng-hide='CaseService.comments.length <= 0 || CaseService.comments === undefined', style='border-top: 1px solid #dddddd;')
    div.row
      div.col-xs-12
        pagination.pagination-sm(
          style='float: right;',
          boundary-links='true',
          total-items='CaseService.comments.length',
          on-select-page='selectPage(page)',
          items-per-page='itemsPerPage',
          page='currentPage',
          rotate='false',
          max-size='maxPagerSize',
          previous-text='<',
          next-text='>',
          first-text='<<',
          last-text='>>')
    div(ng-repeat='comment in commentsOnScreen', ng-if='!comment.draft')
      div.row(style='padding-bottom: 10px;')
        div.col-md-2
          div.bold {{comment.created_by}}
          div {{comment.created_date | date:'mediumDate'}}
          div {{comment.created_date | date:'mediumTime'}}
        div.col-md-10
          pre {{comment.text}}
