div#redhat-access-case.container-offset
  div(rha-header='', page='defaultGroup' ng-controller='DefaultGroup')
  div.rha-side-padding
    div.row(style='padding-bottom: 20px;')
      div.col-xs-12(style='padding-bottom: 20px;')
        div.col-xs-2 
          label Case Group Name: 
        div.col-xs-9
          select#rha-defaultgroup-groupselect.form-control(
            ng-disabled='!securityService.loginStatus.isLoggedIn || groupsLoading',
            ng-model='selectedGroup',
            ng-change='validatePage()',
            ng-options='group as group.name for group in groups')
        div.col-xs-1
          div(style='width: 100%')
            span.rha-search-spinner(ng-show='groupsLoading')
      div.col-xs-12(style='padding-bottom: 20px;')
        div.col-xs-2 
          label Group Users: 
        div.col-xs-9
          select#rha-defaultgroup-userselect.form-control(
            ng-disabled='!securityService.loginStatus.isLoggedIn || !usersLoaded',
            ng-model='selectedUser',
            ng-change='validatePage()',
            ng-options='user.sso_username for user in usersOnAccount')
        div.col-xs-1
          div(style='width: 100%')
            span.rha-search-spinner(ng-show='usersLoading')
      div.col-xs-12(style='padding-bottom: 20px;')
        div.row(style='padding-bottom: 20px;')
        button.btn.btn-primary(ng-click='setDefaultGroup()' ng-disabled='!usersAndGroupsFinishedLoading', translate='') Save Group
        div.divider
        button.btn.btn-primary(ng-click='back()' ,translate='') Back