section.filters
  .row
    .col-sm-4
      select#rha-status-select(
        chosen,
        width="'100%'",
        name='status',
        ng-model='CaseService.kase.status',
        ng-change="updateCase()",
        ng-options='s.name for s in CaseService.statuses track by s.name')
    .col-sm-4
      select#rha-severity-select(
        chosen,
        width="'100%'",
        name='severity',
        ng-model='CaseService.kase.severity',
        ng-change="updateSeverity()",
        ng-options='s.name for s in CaseService.severities track by s.name')
      //span.glyphicon.glyphicon-question-sign(uib-tooltip-html='{{"Different support-level options might be available based on your account subscriptions. Your support level determines the type of response you can expect for your support case." |translate }}<br></br><a href=\'/support/offerings/production/sla.html\' target=\'_blank\'>{{"View Production Support Service Level Agreement"|translate}}</a>',tabindex='0',tooltip-trigger="focus")
