section.case-description
  i#case-description-toggle.fa.fa-caret-chevron.case-description-toggle(ng-click='toggleExtraInfo()', ng-class="showExtraInfo ? 'fa fa-chevron-down case-description-toggle active' : 'fa fa-chevron-down case-description-toggle'")
  h3.product-name {{CaseService.kase.product}}
  h4.case-name {{CaseService.kase.summary}}
  .description.toggled-content.pre-wrap(ng-hide='showExtraInfo') {{CaseService.kase.description | substring:150 }}
  .description.pre-wrap(ng-show='showExtraInfo') {{CaseService.kase.description}}
  div#case-description-extra-info(ng-class="showExtraInfo ? 'case-description-extra-info active' : 'case-description-extra-info'")
    form(name='detailsForm')
      section.config-options
        .row
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Product'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            div(rha-productselect='')
        .row
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Product Version'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            div(rha-versionselect='')
        .row
          .col-xs-4.col-sm-3.col-md-4
            .label Related Case ID
          .col-xs-4.col-sm-5.col-md-6
            input#rha-case-alt-id.form-control(
              ng-model='CaseService.kase.alternate_id',
              name='alternate_id')
        .row
          .col-xs-4.col-sm-3.col-md-4
            .label Case Group
          .col-xs-4.col-sm-5.col-md-6
            select#rha-group-select.form-control(
              chosen,
              width="'100%'",
              name='group',
              ng-options='g.name for g in groups track by g.number',
              ng-model='CaseService.kase.group')
              option(value="") Ungrouped Case
        .row
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Case Type'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            div(rha-typeselect='')
        .row
          .col-xs-12
            button.btn.btn-accent(
              name='updateButton',
              ng-disabled='updatingDetails || !detailsForm.$dirty',
              ng-click='updateCase()', translate='') Save Changes
            a.link(
              ng-disabled='updatingDetails || !detailsForm.$dirty',
              ng-click='resetData()') Cancel