form(name='caseDetails')
  div(style='display: table; width: 100%; padding-bottom: 20px;')
    div(style='display: table-cell; width: 50%;')
      div
        h3(style='margin-top: 0px;') Case {{CaseService.case.case_number}}
      input.form-control(
        style='width: 100%; display: inline-block;',
        ng-model='CaseService.case.summary',
        name='summary')
      span.glyphicon.glyphicon-asterisk.form-control-feedback(
        ng-show='caseDetails.summary.$dirty',
        style='display: inline-block;')
    div(ng-show='EDIT_CASE_CONFIG.showEmailNotifications', style='display: table-cell; vertical-align: bottom; width: 50%;')
      div.pull-right(style='width: 75%')
        x-rha-email-notify-select
  span.rha-search-spinner(ng-show='loading')
  div.container-fluid.rha-side-padding(ng-hide='loading')
    div#rha-case-details.row
      div.col-sm-12.rha-section-header
        h4 Details
      div.container-fluid.rha-side-padding
        div.row
          div.col-md-4
            table.table.details-table
              tr(ng-hide='compact')
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') Case Type:
                  span.glyphicon.glyphicon-asterisk.form-control-feedback(
                    ng-show='caseDetails.type.$dirty',
                    style='display: inline-block;float: right; vertical-align: 50%;')
                td
                  div
                    x-rha-select-loading-indicator(loading='caseTypes === undefined', type='bootstrap')
                      select.form-control(
                        name='type',
                        style='width: 100%;',
                        ng-model='CaseService.case.type',
                        ng-options='c.name for c in caseTypes track by c.name')
              tr
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') Severity:
                  span.glyphicon.glyphicon-asterisk.form-control-feedback(
                    ng-show='caseDetails.severity.$dirty',
                    style='display: inline-block;float: right; vertical-align: 50%;')
                td
                  div
                    x-rha-select-loading-indicator(loading='CaseService.severities === undefined', type='bootstrap')
                      select.form-control(
                        name='severity',
                        style='width: 100%;',
                        ng-model='CaseService.case.severity',
                        ng-options='s.name for s in CaseService.severities track by s.name')
              tr(ng-show='CaseService.showFts()')
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') 24x7 Support:
                td
                  input(ng-model='CaseService.case.fts', type='checkbox')
              tr(ng-show='CaseService.showFts() && CaseService.case.fts')
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') 24x7 Contact:
                td
                  input.form-control(ng-model='CaseService.case.contact_info24_x7')
              tr
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') Status:
                  span.glyphicon.glyphicon-asterisk.form-control-feedback(
                  ng-show='caseDetails.status.$dirty',
                  style='display: inline-block;float: right; vertical-align: 50%;')
                td
                  div
                    x-rha-select-loading-indicator(loading='statuses === undefined', type='bootstrap')
                      select.form-control(
                        name='status',
                        style='width: 100%;',
                        ng-model='CaseService.case.status',
                        ng-options='s.name for s in statuses track by s.name')
              tr(ng-hide='compact')
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') Alternate ID:
                  span.glyphicon.glyphicon-asterisk.form-control-feedback(
                  ng-show='caseDetails.alternate_id.$dirty',
                  style='display: inline-block;float: right; vertical-align: 50%;')
                td
                  input.form-control(
                    style='width: 100%',
                    ng-model='CaseService.case.alternate_id',
                    name='alternate_id')
          div.col-md-4
            table.table.details-table
              tr
                th
                  div(style='vertical-align: 50%; display: inline-block;') Product:
                  span.glyphicon.glyphicon-asterisk.form-control-feedback(
                    ng-show='caseDetails.product.$dirty',
                    style='display: inline-block;float: right; vertical-align: 50%;')
                td
                  div
                    x-rha-select-loading-indicator(loading='products === undefined', type='bootstrap')
                      select.form-control(
                        name='product',
                        style='width: 100%;',
                        ng-model='CaseService.case.product',
                        ng-change='getProductVersions()',
                        ng-options='s.name for s in products track by s.name',
                        required)
              tr
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') Product Version:
                  span.glyphicon.glyphicon-asterisk.form-control-feedback(
                  ng-show='caseDetails.version.$dirty',
                  style='display: inline-block;float: right; vertical-align: 50%;')
                td
                  div
                    x-rha-select-loading-indicator(loading='CaseService.versions.length === 0', type='bootstrap')
                      select.form-control(
                        name='version',
                        style='width: 100%;',
                        ng-options='v for v in CaseService.versions track by v',
                        ng-model='CaseService.case.version',
                        required)
              tr(ng-hide='compact')
                th.rha-detail-table-header Support Level:
                td {{CaseService.case.entitlement.sla}}
              tr(ng-hide='compact')
                th.rha-detail-table-header Owner:
                td {{CaseService.case.contact_name}}
              tr(ng-hide='compact')
                th.rha-detail-table-header Red Hat Owner:
                td {{CaseService.case.owner}}
          div.col-md-4
            table.table.details-table
              tr(ng-hide='compact')
                th.rha-detail-table-header
                  div(style='vertical-align: 50%; display: inline-block;') Group:
                  span.glyphicon.glyphicon-asterisk.form-control-feedback(
                    ng-show='caseDetails.group.$dirty',
                    style='display: inline-block;float: right; vertical-align: 50%;')
                td
                  div
                    x-rha-select-loading-indicator(loading='groups === undefined', type='bootstrap')
                      select.form-control(
                        name='group',
                        style='width: 100%;',
                        ng-options='g.name for g in groups track by g.number',
                        ng-model='CaseService.case.group')
              tr(ng-hide='compact')
                th.rha-detail-table-header Opened:
                td
                  div {{CaseService.case.created_date | date:'medium'}}
                  div {{CaseService.case.created_by}}
              tr(ng-hide='compact')
                th.rha-detail-table-header Last Updated:
                td
                  div {{CaseService.case.last_modified_date | date:'medium'}}
                  div {{CaseService.case.last_modified_by}}
              tr(ng-hide='compact')
                th.rha-detail-table-header Account Number:
                td {{CaseService.case.account_number}}
              tr(ng-hide='compact')
                th.rha-detail-table-header Account Name:
                td {{CaseService.account.name}}
        div.row(style='padding-top: 10px;')
          div.col-xs-12
            div(style='float: right;')
              button.btn.btn-primary(
                name='updateButton',
                ng-disabled='!caseDetails.$dirty',
                ng-hide='updatingDetails',
                ng-click='updateCase()') Update Details
              span.rha-search-spinner(ng-show='updatingDetails')
