section.case-description
  i#case-description-toggle.fa.fa-caret-chevron.case-description-toggle(ng-click='toggleExtraInfo()', ng-class="showExtraInfo ? 'fa fa-chevron-down case-description-toggle active' : 'fa fa-chevron-down case-description-toggle'")
  h3.case-name.pre-wrap
    a(ng-click='editCaseSummary(true)' , ng-show='!caseSummaryEditable' , href='') {{CaseService.kase.summary}}
  .row(ng-show='caseSummaryEditable')
    .col-xs-4.col-sm-3.col-md-8
      input#rha-case-summary.form-control(
        ng-model='CaseService.kase.summary',
        name='case_summary')
    .col-xs-4.col-sm-3.col-md-4
      button.btn.btn-primary(
        name='saveButton',
        ng-disabled='updatingDetails',
        ng-click='updateCase()', translate='') Save
      a.margin-left(
        ng-disabled='updatingDetails',
        ng-click='editCaseSummary(false)') {{'Cancel'|translate}}
  h4.product-name {{CaseService.kase.product}}&nbsp;{{CaseService.kase.version}}
  .description.toggled-content.pre-wrap(ng-hide='showExtraInfo') {{CaseService.kase.description | substring:150 }}
  .description.pre-wrap(ng-show='showExtraInfo') {{CaseService.kase.description}}
  div#case-description-extra-info(ng-class="showExtraInfo ? 'case-description-extra-info active' : 'case-description-extra-info'")
    form(name='detailsForm')
      section.config-options
        .row.row-short
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Product'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            div(rha-productselect='')
        .row.row-short
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Product Version'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            div(rha-versionselect='')
        .row.row-short
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Alternate Case ID'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            input#rha-case-alt-id.form-control(
              ng-model='CaseService.kase.alternate_id',
              name='alternate_id')
        .row.row-short
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Case Group'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            select#rha-group-select.form-control(
              chosen,
              width="'100%'",
              name='group',
              ng-options='g.name for g in groups track by g.number',
              ng-model='CaseService.kase.group')
              option(value="") Ungrouped Case
        .row.row-short
          .col-xs-4.col-sm-3.col-md-4
            .label {{'Case Type'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            div(rha-typeselect='')
        .row.row-short(ng-show="CaseService.showFts()")
          .col-xs-4.col-sm-3.col-md-4
            .label {{'24x7 Support'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            input(ng-model="CaseService.kase.fts",
            type="checkbox",
            name="ftsCheckbox")
        .row.row-short(ng-show="CaseService.showFts() && CaseService.kase.fts")
          .col-xs-4.col-sm-3.col-md-4
            .label {{'24x7 Contact'|translate}}
          .col-xs-4.col-sm-5.col-md-6
            input(
              ng-model="CaseService.kase.contact_info24_x7")
        .row
          .col-sm-12
            button.btn.btn-app.btn-submit(
              name='updateButton',
              ng-disabled='updatingDetails || !detailsForm.$dirty',
              ng-click='updateCase()', translate='') Save Changes
            a.margin-left(
              ng-disabled='updatingDetails || !detailsForm.$dirty',
              ng-click='resetData()') Cancel
