ul#tab_list.nav.nav-tabs(role="tablist")
  li(ng-class='{"active": discussion}')
    a(ng-click='toggleDiscussion()', data-toggle="tab") {{'Case Discussion'|translate}}
  li(ng-class='{"active": attachments}')
    a(ng-click='toggleAttachments()',  data-toggle="tab", ng-hide="DiscussionService.attachments.length === 0") {{'All Attachments'|translate}}
  li(ng-class='{"active": notes}', ng-hide="securityService.loginStatus.authedUser.is_internal")
    a(ng-click='toggleNotes()', data-toggle="tab") {{'Private Notes'|translate}}
  li(ng-class='{"active": bugzillas}', ng-show="securityService.loginStatus.authedUser.is_internal || CaseService.kase.bugzillas.bugzilla.length > 0")
    a(ng-click='toggleBugzillas()', data-toggle="tab") {{'Bugzilla Tickets'|translate}}
  li(ng-class='{"active": actionPlan}')
    a(ng-click='toggleActionPlan()', data-toggle="tab") {{'Action Plan'|translate}}
.tab-content
  #pane1.tab-pane(ng-class='{"active": discussion}')
    .row
      .col-xs-12
        // Add Comment Section
        div(rha-addcommentsection='', loading='loading.comments')
    .row(ng-hide="DiscussionService.discussionElements.length===0")
      .col-sm-7
        label {{'Sort by'|translate}}&nbsp;&nbsp;
        select#rha-comment-sort(chosen,
          width='"auto"',
          ng-init="DiscussionService.commentSortOrder = commentSortOrderList[0]"
          ng-model='DiscussionService.commentSortOrder',
          ng-change='onSortOrderChange()',
          ng-options='commentOrder as commentOrder.name for commentOrder in commentSortOrderList')
    .row
      .col-xs-12
        article.comment(id="{{element.id}}", ng-repeat="element in DiscussionService.discussionElements | orderBy:'sortModifiedDate':commentSortOrder", ng-if='!element.draft')
          .row
            .col-sm-4
              h4.meta(ng-if="element.comment_type === 'chat'")
                span {{'Transcript of chat between'|translate}}
                .author.blue {{element.agent_name}}
                span {{'and'|translate}}
                .author.blue {{element.visitor_name}}
                date.light {{element.last_modified_date}} &nbsp;
                span.light {{'at'|translate}} &nbsp;
                time.light {{element.last_modified_time}}
              h4.meta(ng-if="element.comment_type !== 'chat'")
                .author.blue {{element.last_modified_by}}
                date.light {{element.published_date}} &nbsp;
                span.light {{'at'|translate}} &nbsp;
                time.light {{element.published_time}}
                .private(ng-if="element.public !== undefined && element.public === false") {{'Private'|translate}}
            .col-sm-8
              blockquote.dialog-box.pre-wrap(ng-if="element.comment_type === 'chat'", ng-bind-html="parseCommentHtml(element)")
              blockquote.dialog-box.pre-wrap(ng-hide="element.file_name || element.comment_type === 'chat'")
                span(ng-if="ie8 || ie9", style='word-wrap: normal; word-break: normal;') {{element.text}}
                span(ng-if="!ie8 && !ie9", ng-bind-html="parseCommentHtml(element)")
                a.glyphicon.glyphicon-link.pull-right(ng-hide="element.file_name", ng-click='CaseService.scrollToComment(element.id)' ng-href='#/case/{{CaseService.kase.case_number}}?commentId={{element.id}}')
                a.pull-right.commentReply(ng-click='commentReply(element,(ie8 || ie9))', href='') {{'Reply'|translate}} &nbsp;
              .dialog-box(ng-show="element.file_name")
                a(href="{{element.uri}}")
                  .fa.fa-file-image-o.file-upload
                  span {{element.file_name}} ({{element.length | bytes}})
                .fa.fa-close.pull-right(type='button', style='cursor: pointer;', ng-click='deleteAttachment(element)')
                .description.margin-top-short(ng-show="element.description") {{element.description}}
  #pane2.tab-pane(ng-class='{"active": attachments}')
    article.row(id="{{attachment.id}}", ng-repeat="attachment in DiscussionService.attachments | orderBy:'sortModifiedDate':'reverse'")
      .col-sm-4
        h4.meta
          .author.blue {{attachment.last_modified_by}}
          date.light {{attachment.published_date}}
          span.light at &nbsp;
          time.light {{attachment.published_time}}
      .col-sm-8
        .dialog-box
            a(href="{{attachment.uri}}")
              .fa.fa-file-image-o.file-upload
              span {{attachment.file_name}} ({{attachment.length | bytes}})
            .fa.fa-close.pull-right(type='button', style='float: right; cursor: pointer;', ng-click='deleteAttachment(attachment)')
            .description.margin-top-short(ng-show="attachment.description") {{attachment.description}}
  #pane3.tab-pane(ng-hide="securityService.loginStatus.authedUser.is_internal", ng-class='{"active": notes}')
    form(name='notesForm')
      div
        label(for='rha-case-notes') {{'Notes:'|translate}}
      div
        span#notesTooltip.uploadNotice
          span {{"Please note, contents of this field are not visible to Red Hat Support professionals."|translate}}
      .row
        .col-xs-12
          textarea#rha-case-notes(
            style='width: 100%; height: 70px; max-width: 100%;',
            ng-model='CaseService.kase.notes',
            maxlength='255',
            name='notes')
      .row.row-short
        .col-sm-7
          span#notesNotice.uploadNotice
            span.progressCount(translate) {{noteCharactersLeft}} characters left.
        .col-sm-5
          .pull-right
            button.btn.btn-app(ng-click="updateNotes()", ng-disabled='CaseService.updatingCase || !notesForm.$dirty',translate='') Update
            a.margin-left(ng-click="discardNotes()", ng-class='{"disabled" : CaseService.updatingCase || !notesForm.$dirty}') {{'Discard Changes'|translate}}
  #pane4.tab-pane(ng-if="securityService.loginStatus.authedUser.is_internal || CaseService.kase.bugzillas.bugzilla.length > 0", ng-class='{"active": bugzillas}')
    div(rha-listbugzillas)
  #pane5.tab-pane(ng-class='{"active": actionPlan}')
    form(name='actionPlanForm')
      div
        label(for='rha-action-plan') {{'Action Plan:'|translate}}
      .row(ng-if="!securityService.loginStatus.authedUser.is_internal")
        .col-xs-12
          span.pre-wrap {{CaseService.kase.action_plan}}
        .col-xs-12(ng-if='!CaseService.kase.action_plan')
          span {{"No action plan to display."|translate}}
      .row(ng-if="securityService.loginStatus.authedUser.is_internal")
        .col-xs-12
          textarea#rha-action-plan(
            style='width: 100%; height: 70px; max-width: 100%;',
            ng-model='CaseService.kase.action_plan',
            maxlength='255',
            name='caseSummary')
      .row.row-short(ng-if="securityService.loginStatus.authedUser.is_internal")
        .col-sm-6
          .pull-left
            button.btn.btn-app(ng-click="updateActionPlan()", ng-disabled='CaseService.updatingCase || !actionPlanForm.$dirty',translate='') Update
            a.margin-left(ng-click="discardActionPlan()", ng-class='{"disabled" : CaseService.updatingCase || !actionPlanForm.$dirty}') {{'Discard Changes'|translate}}