ul#tab_list.nav.nav-tabs(role="tablist")
    li(ng-class='{"active": discussion}')
        a(ng-click='toggleDiscussionClick()', data-toggle="tab") {{'Case Discussion'|translate}}
    li(ng-class='{"active": attachments}')
        a(ng-click='toggleAttachments()',  data-toggle="tab", ng-hide="AttachmentsService.originalAttachments.length === 0") {{'All Attachments'|translate}}
    li(ng-class='{"active": notes}', ng-hide="securityService.loginStatus.authedUser.is_internal")
        a(ng-click='toggleNotes()', data-toggle="tab") {{'Private Notes'|translate}}
    li(ng-class='{"active": bugzillas}', ng-show="securityService.loginStatus.authedUser.is_internal || CaseService.kase.bugzillas.bugzilla.length > 0")
        a(ng-click='toggleBugzillas()', data-toggle="tab") {{'Bugzilla Tickets'|translate}}
    li(ng-class='{"active": actionPlan}')
        a(ng-click='toggleActionPlan()', data-toggle="tab") {{'Action Plan'|translate}}
    li(ng-class='{"active": caseSummary}', ng-if="securityService.loginStatus.authedUser.is_internal && COMMON_CONFIG.isGS4")
        a(ng-click='toggleCaseSummary()', data-toggle="tab") {{'Case Summary'|translate}}
.tab-content
    #pane1.tab-pane(ng-class='{"active": discussion}')
        .row.row-very-short(ng-hide="DiscussionService.discussionElements.length===0")
            .col-sm-7
                label {{'Sort by'|translate}}&nbsp;&nbsp;
                select#rha-comment-sort(chosen,
                width='"auto"',
                ng-init="DiscussionService.commentSortOrder = commentSortOrderList[0]"
                ng-model='DiscussionService.commentSortOrder',
                ng-change='onSortOrderChange()',
                ng-options='commentOrder as commentOrder.name for commentOrder in commentSortOrderList')
        .row.row-very-short.case-discussion
            .col-xs-12
                // Add Comment Section
                div(rha-addcommentsection='', loading='loading.comments')
        .spinner(ng-show="AttachmentsService.loading")
        .row.row-very-short.case-discussion(ng-show="!AttachmentsService.loading")
            .col-xs-12
                #top-discussion-section
                .row
                    .col-sm-6
                        rha-searchbox(placeholder='"Search Discussion"', class-name='"padding-searchbox"', ng-if="DiscussionService.allDiscussionElements().length > 0")
                        span(ng-if="DiscussionService.allDiscussionElements().length > 0") Showing {{PaginationService.firstItemNumberShownOnThePage('discussionSection', DiscussionService.discussionElements.length)}}-{{PaginationService.lastItemNumberShownOnThePage('discussionSection', DiscussionService.discussionElements.length)}} of {{DiscussionService.discussionElements.length}} results
                    .col-sm-6
                        pagination(ng-if="discussion", current-page-number="PaginationService.discussionSection.currentPageNumber" datalength="DiscussionService.discussionElements.length", page-size="PaginationService.discussionSection.pageSize", set-current-page-number="setCurrentPageNumberForDS(pageNumber)", set-page-size="PaginationService.setPageSize('discussionSection', pageSize)")
                .discussion-element(id="{{element.id}}", ng-repeat="element in DiscussionService.discussionElements | orderBy:'sortModifiedDate':commentSortOrder | startFrom:(PaginationService.discussionSection.currentPageNumber-1)*PaginationService.discussionSection.pageSize | limitTo:PaginationService.discussionSection.pageSize", ng-if='!element.draft', ng-mouseenter='mouseOver(element)', ng-mouseleave='mouseOut(element)')
                    article.comment.article-comment(ng-if="!element.file_name && element.comment_type !== 'chat' && !element.originating_system && (element.public === undefined || element.public === true)")
                        i.fa.fa-comments-o
                        h4.meta 
                            {{'Message'|translate}}&nbsp;({{element.created_by_type}})
                            a.pull-right(ng-if="showJumpToCommentId == element.id" ng-click="jumpToComment(element.id)", ng-href='#/case/{{CaseService.kase.case_number}}?commentId={{element.id}}') Jump to comment
                        .byline
                            author {{element.last_modified_by}} {{'on'|translate}}&nbsp;
                            date {{element.last_modified_date}} {{'at'|translate}}&nbsp;
                            date {{element.last_modified_time}}
                        .pre-wrap
                            span(ng-if="ie8 || ie9", style='word-wrap: normal; word-break: normal;') {{element.text}}
                            .content(ng-if="!ie8 && !ie9", ng-bind-html="parseCommentHtml(element)")
                            .reply.text-right
                                span.pull-left.vote-buttons(ng-if='!securityService.loginStatus.authedUser.is_internal && !COMMON_CONFIG.isGS4')
                                    a.fa(ng-class="element.feedback === 1 ? 'fa-thumbs-up active' : 'fa-thumbs-o-up'" ng-click='applyCommentFeedback(element, 1)', uib-tooltip='{{"Thumbs Up"|translate}}', tooltip-placement="top", tooltip-append-to-body="true")
                                    a.fa(ng-class="element.feedback === 0 ? 'fa-thumbs-down active' : 'fa-thumbs-o-down'" ng-click='applyCommentFeedback(element, 0)', uib-tooltip='{{"Thumbs Down"|translate}}', tooltip-placement="top", tooltip-append-to-body="true")
                                a.commentReply(ng-click='commentReply(element,(ie8 || ie9))', href='') {{'Reply'|translate}}
                                a.ml-5.glyphicon.glyphicon-link(ng-click='CaseService.scrollToComment(element.id)' ng-href='#/case/{{CaseService.kase.case_number}}?commentId={{element.id}}')
                    article.comment.article-private-comment(ng-if="!element.file_name && element.comment_type !== 'chat' && !element.originating_system && element.public !== undefined && !element.public")
                        i.fa.fa-comments-o
                        h4.meta {{'Private Message'|translate}}&nbsp;({{element.created_by_type}})
                            a.pull-right(ng-if="showJumpToCommentId == element.id" ng-click="jumpToComment(element.id)", ng-href='#/case/{{CaseService.kase.case_number}}?commentId={{element.id}}') Jump to comment
                        
                        .byline
                            author {{element.last_modified_by}} {{'on'|translate}}&nbsp;
                            date {{element.published_date}} {{'at'|translate}}&nbsp;
                            date {{element.published_time}}
                        .pre-wrap
                            span(ng-if="ie8 || ie9", style='word-wrap: normal; word-break: normal;') {{element.text}}
                            .content(ng-if="!ie8 && !ie9", ng-bind-html="parseCommentHtml(element)")
                            .reply.text-right
                                a.commentReply(ng-click='commentReply(element,(ie8 || ie9))', href='') {{'Reply'|translate}}
                                a.ml-5.glyphicon.glyphicon-link(ng-click='CaseService.scrollToComment(element.id)' ng-href='#/case/{{CaseService.kase.case_number}}?commentId={{element.id}}')

                    article.comment.article-attachment(ng-if="element.file_name && !element.originating_system")
                        i.fa.fa-paperclip
                        h4.meta {{'Attachment'|translate}}

                        .byline
                            author {{element.last_modified_by ? element.last_modified_by : element.modifiedBy}} {{'on'|translate}}&nbsp;
                            date {{element.published_date}}&nbsp;
                            span {{'at'|translate}}&nbsp;
                            time {{element.published_time}}
                        .pre-wrap
                            a(ng-show="!isCertification() && AttachmentsService.isAwsAttachment(element, AttachmentsService.s3EnabledForAccount)" ng-click="downloadS3Attachment(element)")
                                .fa.fa-file-image-o.file-upload
                                span {{element.file_name}} ({{element.length ? element.length : element.size | bytes}})&nbsp;
                            a(ng-show="isCertification() || !AttachmentsService.isAwsAttachment(element, AttachmentsService.s3EnabledForAccount)" href="{{element.link}}" download="download")
                                .fa.fa-file-image-o.file-upload
                                span {{element.file_name}} ({{element.length ? element.length : element.size | bytes}})&nbsp;
                            span.fa.fa-close(type='button', style='cursor: pointer;', ng-click='deleteAttachment(element)')
                            div(ng-if="element.checksum") {{'SHA-256:'|translate}}&nbsp;{{element.checksum}}
                            .description.margin-top-short(ng-show="element.description") {{element.description}}

                    article.comment.article-chat(ng-if="element.comment_type === 'chat'")
                        i.fa.fa-file-text-o
                        h4.meta(ng-if="element.comment_type === 'chat'") {{'Transcript of chat'|translate}}
                        .byline
                            span {{'between'|translate}}&nbsp;
                            author {{element.agent_name}}&nbsp;
                            span {{'and'|translate}}&nbsp;
                            author {{element.visitor_name}}&nbsp;
                            date {{element.last_modified_date}}&nbsp;
                            span {{'at'|translate}}&nbsp;
                            time {{element.last_modified_time}}
                        .pre-wrap(ng-if="element.comment_type === 'chat'", ng-bind-html="parseCommentHtml(element)")
                    article.comment.article-external-updates(ng-if="element.originating_system")
                        i.fa.fa-comments-o
                        h4.meta {{element.originating_system}}
                            span(ng-show="element.visibility==='Partner Only'") {{' - Private'|translate}}
                        .byline
                            author {{element.created_by}} {{'on'|translate}}&nbsp;
                            date {{element.created_date}}&nbsp;
                            span {{'at'|translate}}&nbsp;
                            time {{element.created_time}}
                        .pre-wrap
                            span(ng-if="ie8 || ie9", style='word-wrap: normal; word-break: normal;') {{element.body}}
                            .content(ng-if="!ie8 && !ie9", ng-bind-html="parseCommentHtml(element)")
                #bottom-discussion-section
                pagination(ng-if="discussion", current-page-number="PaginationService.discussionSection.currentPageNumber" datalength="DiscussionService.discussionElements.length", page-size="PaginationService.discussionSection.pageSize", set-current-page-number="setCurrentPageNumberForDS(pageNumber)", set-page-size="PaginationService.setPageSize('discussionSection', pageSize)")
                //- pagination(ng-if="discussion", default-current-page-number="defaultCurrentPageNumber", current-page-prop="currentPageProp",  datalength="DiscussionService.discussionElements.length", setdata="getPaginationData(pageSize, currentPage)")
    #pane2.tab-pane(ng-class='{"active": attachments}')
        #top-attachments-section
        .row
            .col-md-6
                rha-searchbox(placeholder='"Search Attachments"', class-name='"padding-searchbox"', ng-if="AttachmentsService.originalAttachments.length > 0")
                span(ng-if="AttachmentsService.originalAttachments.length > 0") Showing {{PaginationService.firstItemNumberShownOnThePage('attachmentsSection', DiscussionService.attachments.length)}}-{{PaginationService.lastItemNumberShownOnThePage('attachmentsSection', DiscussionService.attachments.length)}} of {{DiscussionService.attachments.length}} results
            .col-md-6
                pagination(ng-if="attachments", current-page-number="PaginationService.attachmentsSection.currentPageNumber" datalength="DiscussionService.attachments.length", page-size="PaginationService.attachmentsSection.pageSize", set-current-page-number="setCurrentPageNumberForAS(pageNumber)", set-page-size="PaginationService.setPageSize('attachmentsSection', pageSize)")
                //- pagination(ng-if="attachments", current-page-prop="currentPage", , datalength="DiscussionService.attachments.length", setdata="getPaginationData(pageSize, currentPage)")
        .row.row-very-short.case-discussion
            .col-xs-12
                .discussion-element(id="{{attachment.id}}", ng-repeat="attachment in DiscussionService.attachments | orderBy:'sortModifiedDate':'reverse' | startFrom:(PaginationService.attachmentsSection.currentPageNumber-1)*PaginationService.attachmentsSection.pageSize | limitTo:PaginationService.attachmentsSection.pageSize", ng-mouseenter='mouseOver(attachment)', ng-mouseleave='mouseOut(attachment)')
                    article.comment.article-attachment(ng-if="attachment.file_name") 
                        i.fa.fa-paperclip
                        h4.meta {{'Attachment'|translate}}

                        .byline
                            author {{attachment.last_modified_by}} {{'on'|translate}} &nbsp;
                            date {{attachment.published_date}} &nbsp;
                            span {{'at'|translate}} &nbsp;
                            time {{attachment.published_time}}
                        .pre-wrap
                            a(ng-show="!isCertification() && AttachmentsService.isAwsAttachment(attachment, AttachmentsService.s3EnabledForAccount)" ng-click="downloadS3Attachment(attachment)")
                                .fa.fa-file-image-o.file-upload
                                span {{attachment.file_name}} ({{attachment.length ? attachment.length : attachment.size | bytes}})&nbsp;
                            a(ng-show="isCertification() || !AttachmentsService.isAwsAttachment(attachment, AttachmentsService.s3EnabledForAccount)" href="{{attachment.link}}" download="download")
                                .fa.fa-file-image-o.file-upload
                                span {{attachment.file_name}} ({{attachment.length ? attachment.length : attachment.size | bytes}})&nbsp;
                            span.fa.fa-close(type='button', style='cursor: pointer;', ng-click='deleteAttachment(attachment)')
                            div(ng-if='attachment.checksum') {{'SHA-256:'|translate}}&nbsp;{{attachment.checksum}}
                            .description.margin-top-short(ng-show="attachment.description") {{attachment.description}}
                #bottom-attachments-section
                pagination(ng-if="attachments", current-page-number="PaginationService.attachmentsSection.currentPageNumber" datalength="DiscussionService.attachments.length", page-size="PaginationService.attachmentsSection.pageSize", set-current-page-number="setCurrentPageNumberForAS(pageNumber)", set-page-size="PaginationService.setPageSize('attachmentsSection', pageSize)")
                //- pagination(ng-if="attachments", datalength="DiscussionService.attachments.length", setdata="getPaginationData(pageSize, currentPage)" current-page-prop="currentPage", )
    #pane3.tab-pane(ng-hide="securityService.loginStatus.authedUser.is_internal", ng-class='{"active": notes}')
        form(name='notesForm')
            div
                label(for='rha-case-notes') {{'Notes:'|translate}}
            div
                span#notesTooltip.uploadNotice
                    span {{"Please note, contents of this field are not visible to Red Hat Support professionals."|translate}}
            .row
                .col-xs-12
                    textarea#rha-case-notes(
                    style='width: 100%; height: 70px; max-width: 100%;',
                    ng-model='CaseService.kase.notes',
                    maxlength='{{noteCharactersMax}}',
                    name='notes')
            .row.row-short
                .col-sm-7
                    span#notesNotice.uploadNotice
                        span.progressCount() {{noteCharactersLeft}} {{'characters left.'|translate}}
                .col-sm-5
                    .pull-right
                        button.btn.btn-app(ng-click="updateNotes()", ng-disabled='CaseService.updatingCase || !notesForm.$dirty', ng-class="{'btn-primary': !(CaseService.updatingCase || !notesForm.$dirty)}") {{'Update'|translate}}
                        button.btn.btn-app.margin-left(ng-click="discardNotes()", ng-disabled='CaseService.updatingCase || !notesForm.$dirty', ng-class="{'btn-primary': !(CaseService.updatingCase || !notesForm.$dirty)}") {{'Discard Changes'|translate}}
    #pane4.tab-pane(ng-if="securityService.loginStatus.authedUser.is_internal || CaseService.kase.bugzillas.bugzilla.length > 0", ng-class='{"active": bugzillas}')
        div(rha-listbugzillas)
    #pane5.tab-pane(ng-class='{"active": actionPlan}')
        form(name='actionPlanForm')
            div
                label(for='rha-action-plan') {{'Action Plan:'|translate}}
            .row(ng-if="!securityService.loginStatus.authedUser.is_internal")
                .col-xs-12
                    span.pre-wrap {{CaseService.kase.action_plan}}
                .col-xs-12(ng-if='!CaseService.kase.action_plan')
                    span {{"No action plan to display."|translate}}
            .row(ng-if="securityService.loginStatus.authedUser.is_internal")
                .col-xs-12
                    textarea#rha-action-plan(
                    style='width: 100%; height: 70px; max-width: 100%;',
                    ng-model='CaseService.kase.action_plan',
                    maxlength='32768',
                    name='actionPlan')
            span.warning-text(ng-if="securityService.loginStatus.authedUser.is_internal && COMMON_CONFIG.isGS4") {{'Updates to Action Plan are customer facing.'|translate}}
            .row.row-short(ng-if="securityService.loginStatus.authedUser.is_internal")
                .col-sm-6
                    .pull-left
                        button.btn.btn-app(ng-click="updateActionPlan()", ng-disabled='CaseService.updatingCase || !actionPlanForm.$dirty', ng-class="{'btn-primary': !(CaseService.updatingCase || !actionPlanForm.$dirty)}") {{'Update'|translate}}
                        button.btn.btn-app.margin-left(ng-click="discardActionPlan()", ng-disabled='CaseService.updatingCase || !actionPlanForm.$dirty', ng-class="{'btn-primary': !(CaseService.updatingCase || !actionPlanForm.$dirty)}") {{'Discard Changes'|translate}}
    #pane6.tab-pane(ng-class='{"active": caseSummary}', ng-if="securityService.loginStatus.authedUser.is_internal && COMMON_CONFIG.isGS4")
        form(name='caseSummaryForm')
            div
                label(for='rha-case-summary') {{'Case Summary:'|translate}}
            .row
                .col-xs-12
                    textarea#rha-case-summary.case-summary-text(
                    ng-model='CaseService.kase.case_summary',
                    name='caseSummary')
            span.warning-text {{'This is for internal use only'|translate}}
            .row.row-short
                .col-sm-6
                    .pull-left
                        button.btn.btn-app(ng-click="updateCaseSummary()", ng-disabled='CaseService.updatingCase || !caseSummaryForm.$dirty', ng-class="{'btn-primary': !(CaseService.updatingCase || !caseSummaryForm.$dirty)}") {{'Update'|translate}}
                        button.btn.btn-app.margin-left(ng-click="discardCaseSummary()", ng-disabled='CaseService.updatingCase || !caseSummaryForm.$dirty', ng-class="{'btn-primary': !(CaseService.updatingCase || !caseSummaryForm.$dirty)}") {{'Discard Changes'|translate}}
