.row
    .col-sm-4
        .label {{'Send Email Notifications to'|translate}}
        div(uib-tooltip="{{isCurrentUserCaseContact() ? 'You are case contact and therefore you cannot be removed as watcher.' : '' | translate}}")
            button.btn.btn-info.btn-xs(
                ng-click="toggleCurrentUser()",
                ng-disabled="saving || isCurrentUserCaseContact()",
                ng-show="!CaseService.usersLoading && !securityService.loginStatus.authedUser.org_admin && !securityService.loginStatus.authedUser.is_internal")
                    span(ng-hide="isCurrentUserNotifiedUser() || isCurrentUserCaseContact()", translate) Add me as watcher
                    span(ng-show="isCurrentUserNotifiedUser() || isCurrentUserCaseContact()", translate) Remove me as watcher
    .col-sm-8
        .spinner.spinner-inline(ng-show="CaseService.usersLoading")
        div(ng-show="!CaseService.usersLoading ")
            select(
            chosen,
            multiple,
            data-placeholder="{{'Select a User'|translate}}",
            ng-disabled='saving',
            ng-model='selectedUsers',
            ng-change='selectedUsersChanged()',
            width='"100%"',
            ng-options="user.sso_username as (user.first_name+' '+user.last_name+' <'+user.sso_username+'>') for user in usersOnAccount | orderBy:['first_name','last_name']")
        div.edit-emailNotify-Container(ng-show="!CaseService.usersLoading && !securityService.loginStatus.authedUser.org_admin")
            span.label-contact(ng-repeat='user in mapUsers(selectedUsers)', ng-if='RHAUtils.isNotEmpty(selectedUsers)') {{user.first_name}} {{user.last_name}} <{{user.sso_username}}>
            span.disable-span-text(ng-if='RHAUtils.isEmpty(selectedUsers)', translate='') No users selected
