h4.rha-section-header(translate='') Email Notification Recipients
span.rha-search-spinner(
  ng-show='!securityService.loginStatus.isLoggedIn  || CaseService.usersLoading || securityService.loggingIn',
  style='margin-left: 5px;')
div(ng-show='securityService.userAllowedToManageEmailNotifications() && securityService.loginStatus.isLoggedIn && !CaseService.usersLoading && !securityService.loggingIn')
  select(
    chosen,
    multiple,
    ng-disabled='updatingList',
    ng-model='CaseService.updatedNotifiedUsers',
    ng-change='updateNotifyUsers()',
    id='rha-email-notify-select',
    width='"100%"',
    ng-options='user.sso_username as user.sso_username for user in CaseService.users')
div(ng-if='!securityService.userAllowedToManageEmailNotifications() && !securityService.loggingIn')
  select(
    chosen,
    multiple,
    ng-disabled='updatingList',
    ng-model='selectedUser',
    ng-change='updateNotifyUsers()',
    id='rha-email-notify-select',
    width='"100%"',
    ng-options='user for user in userName')
