.spinner.spinner-inline(ng-show='!securityService.loginStatus.isLoggedIn  || CaseService.usersLoading || securityService.loggingIn')
.row
  .col-sm-4
    .label {{'Send Email Notifications to'|translate}}
  .col-sm-8
    select(
      chosen,
      multiple,
      data-placeholder="{{'Select a User'|translate}}",
      ng-disabled='updatingList',
      ng-model='CaseService.updatedNotifiedUsers',
      ng-change='updateNotifyUsers()',
      id='rha-email-notify-select',
      width='"100%"',
      ng-options="user.sso_username as (user.first_name+' '+user.last_name+' <'+user.sso_username+'>') for user in CaseService.users | orderBy:['first_name','last_name']")
