.spinner.spinner-inline(ng-show='!securityService.loginStatus.isLoggedIn  || CaseService.usersLoading || securityService.loggingIn')
select(
  chosen,
  multiple,
  ng-disabled='updatingList',
  ng-model='CaseService.updatedNotifiedUsers',
  ng-change='updateNotifyUsers()',
  id='rha-email-notify-select',
  width='"100%"',
  ng-options='user.sso_username as user.sso_username for user in CaseService.users')