h4.section-header Email Notification Recipients
span.rha-search-spinner(
  ng-show='!securityService.loginStatus.isLoggedIn  || CaseService.usersLoading || securityService.loggingIn', 
  style='margin-left: 5px;')
select(
  ui-select2,
  multiple,
  ng-show='securityService.loginStatus.isLoggedIn && !updatingList && !CaseService.usersLoading && !securityService.loggingIn',
  ng-disabled='!securityService.userAllowedToManage()'
  ng-model='CaseService.updatedNotifiedUsers',
  ng-change='updateNotifyUsers()',
  style='width: 100%')
  option(ng-repeat='user in CaseService.users') 
    {{user.sso_username}}
