label {{'Sort By'|translate}}
select#rha-filter-select(chosen,
  width='"auto"',
	ng-init="CaseService.filterSelect = statuses[0]"
	ng-disabled='!securityService.loginStatus.isLoggedIn',
	ng-model='CaseService.filterSelect',
  ng-change='CaseService.onFilterSelectChanged()',
  ng-options='status as status.name for status in statuses',
  disable_search_threshold=10)
