x-rha-select-loading-indicator(loading='groupsLoading', type='select2')
  select(
    ui-select2,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.group',
    ng-change='CaseService.onSelectChanged()',
    placeholder='Select a Group',
    style='width: 100%')
    option(value='') All Groups
    option(value='{{CASE_GROUPS.ungrouped}}') Ungrouped Cases
    option(disabled, ng-hide='CaseService.groups.length < 1') ────────────────────────────────────────
    option(ng-repeat='group in CaseService.groups' value='{{group.number}}') {{group.name}}
    option(ng-if='securityService.userAllowedToManage()', disabled) ────────────────────────────────────────
    option(ng-if='securityService.userAllowedToManage()', value='{{CASE_GROUPS.manage}}') Manage Case Groups
