div
	select#rha-group-select(
	    chosen,
	    ng-disabled='!securityService.loginStatus.isLoggedIn',
	    ng-model='CaseService.group',
	    ng-change='CaseService.onGroupSelectChanged()',
	    placeholder='Select a Group',
	    width='"100%"',
	    ng-options='option.value as option.label for option in CaseService.groupOptions',
	    options-disabled="option.isDisabled for option in CaseService.groupOptions")
	span.glyphicon.glyphicon-question-sign.pull-right(
	         popover="{{'Filtering by case groups helps you find related cases.'|translate}}",
	         tabindex='0',
	         popover-append-to-body='true',
	         popover-trigger='mouseenter')