div.group-select(rha-selectloadingindicator='', loading='CaseService.groupsLoading', type='select2')
  select#rha-group-select(
    chosen,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.group',
    ng-change='CaseService.onGroupSelectChanged()',
    placeholder='Select a Group',
    width='"100%"',
    ng-options='option.value as option.label for option in CaseService.groupOptions',
    options-disabled="option.isDisabled for option in CaseService.groupOptions")

