.row
    .filters
        div.col-sm-12.col-md-6()
            .input-group
                input#rha-searchform-searchbox.form-control.with-close(
                    ng-disabled='!securityService.loginStatus.isLoggedIn',
                    placeholder='{{placeholder}}',
                    ng-model='SearchCaseService.caseParameters.searchTerm',
                    rha-enter='doSearch()',
                    ng-change='onChange()')
                span.input-group-btn(ng-hide='hidebutton')
                    a.close(ng-show="SearchCaseService.caseParameters.searchTerm && SearchCaseService.caseParameters.searchTerm!== ''", ng-click="clearSearch();doSearch()")
                        span.web-icon-close
                    button#rha-searchform-searchbutton.btn.btn-app(
                        ng-click='doSearch()',
                        ng-disabled='!securityService.loginStatus.isLoggedIn')
                        i.glyphicon.glyphicon-search
                        | {{''}}
        div.col-sm-12.col-md-3()
            select#rha-group-select(
                chosen,
                width='"100%"',
                ng-disabled='!securityService.loginStatus.isLoggedIn || CaseService.submittingCase',
                ng-model='SearchCaseService.caseParameters.group',
                ng-change='CaseService.onGroupSelectChanged()',
                placeholder='Select a Group',
                ng-options='option.value as option.label for option in CaseService.groupOptions',
                options-disabled="option.isDisabled for option in CaseService.groupOptions",
                ng-init="setSearchOptions(true)")
        div.col-sm-12.col-md-3()
            select#rha-status-select(chosen,
                width='"100%"',
                ng-disabled='!securityService.loginStatus.isLoggedIn',
                ng-model='SearchCaseService.caseParameters.status',
                ng-change='CaseService.onSelectChanged()',
                ng-options='status.value as status.name for status in ConstantsService.statuses',
                disable_search_threshold=10)
.row.bookmarked-accounts-row(ng-if='securityService.loginStatus.isLoggedIn && securityService.loginStatus.authedUser.is_internal')
    div.col-xs-10.col-sm-11
        div(rha-bookmarked-accounts-select='', selected-account='CaseService.bookmarkedAccount', selected-account-changed='CaseService.onBookmarkedAccountSelectChange()')
    div.col-xs-2.col-sm-1
        a.btn.btn-app.bookmark-view-button(ng-href='{{bookmarkAccountUrl}}', uib-tooltip='{{"Manage Bookmarked Accounts"|translate}}')
            i.icon-star-empty
            i.icon-users
