div.container-fluid
  div.row
    div.col-md-6(style='padding-bottom: 14px;')
      x-rha-search-box(placeholder='Search')
    div.col-md-3(style='padding-bottom: 14px;')
      div(style='display:table')
        x-rha-group-select(showsearchoptions='true')
        span.glyphicon.glyphicon-question-sign(
          style='display: table-cell; width: 1%; padding-left: 6px;',
          popover='Filtering by case groups helps you find related cases.',
          tabindex='0',
          popover-append-to-body='true',
          popover-trigger='mouseenter')
    div.col-md-3(style='padding-bottom: 14px;')
      x-rha-status-select
