div.container-fluid.side-padding
  div.row
    div.col-lg-4(style='padding-bottom: 14px;')
      input.form-control(
        ng-disabled='!securityService.isLoggedIn',
        placeholder='Search',
        ng-model='keyword',
        ng-keypress='onFilterKeyPress($event)')
    div.col-lg-4(style='padding-bottom: 14px;')
      //label(for='rha-case-group-filter', style='padding-right: 4px; font-weight: normal;') Group:
      select.form-control(
        id='rha-case-group-filter',
        ng-disabled='!securityService.isLoggedIn',
        style='display: inline-block;',
        ng-model='group',
        ng-change='doFilter()',
        ng-options='g.name for g in groups track by g.number')
        option(value='') All Groups
    div.col-lg-4(style='padding-bottom: 14px;')
      select.form-control(
        ng-disabled='!securityService.isLoggedIn',
        ng-model='statusFilter',
        ng-change='doFilter()')
        option(value='both', selected='selected') Open and Closed
        option(value='open') Open
        option(value='closed') Closed
