div#redhat-access-case
  div(rha-header='', page='caseList')
  div.row(ng-show='!securityService.loginStatus.userAllowedToManageCases && securityService.loginStatus.isLoggedIn && CaseService.sfdcIsHealthy')
    div {{'User does not have permissions to manage cases.'|translate}}
  div.row(ng-hide='!securityService.loginStatus.userAllowedToManageCases && securityService.loginStatus.isLoggedIn || !CaseService.sfdcIsHealthy')
    div.col-md-8
      div(rha-listfilter='')
    div.col-md-4.text-right
        span.pad-r-l(rha-chatbutton='')
        button.btn.btn-primary.btn-slim.btn-sm(
          ng-disabled='!securityService.loginStatus.isLoggedIn',
          ui-sref='new', translate='') Open a New Support Case
  div.rha-bottom-border(ng-show='CaseService.sfdcIsHealthy')
    div.spinner.spinner-inline(ng-show='SearchCaseService.searching && securityService.loginStatus.isLoggedIn')
    div(ng-show='SearchCaseService.cases.length == 0 && !SearchCaseService.searching && securityService.loginStatus.isLoggedIn') {{'No cases found with given filters.'|translate}}
    div(ng-hide='SearchCaseService.cases.length == 0 || SearchCaseService.searching || !securityService.loginStatus.isLoggedIn')
      table.table.table-bordered.table-striped(
          ng-table='tableParams',
          style='text-align: left')
       thead(style='text-align: center')
         tr
           th(ng-repeat='header in headers')
             | {{header.title}}
             a
               i.glyphicon.glyphicon-sort-by-attributes(ng-click='sortColumn(header.value);',ng-show='showAscDescBoth(header.value)=="asc"')
               i.glyphicon.glyphicon-sort-by-attributes-alt(ng-click='sortColumn(header.value);',ng-show='showAscDescBoth(header.value)=="desc"')
               i.glyphicon.glyphicon-sort(ng-click='sortColumn(header.value);',ng-show='showAscDescBoth(header.value)=="both"')
       tbody
         tr(ng-repeat='case in $data')
           td(
              style='width: 10%')
             a(href='#/case/{{case.case_number}}') {{case.case_number}}
           td(
              style='width: 15%') {{case.summary}}
           td(
              ) {{case.product}} / {{case.version}}
           td(
             ) {{case.status}}
            td(
              ) {{case.severity}}
            td(
              ) {{case.contact_name}}
            td(
              style='width: 10%') {{case.created_date | date:'longDate'}}
            td(
              style='width: 10%') {{case.last_modified_date | date:'longDate'}}
      div(rha-exportcsvbutton='')
