ul.attachment-list.block-list.block-list-gray(ng-hide='AttachmentsService.updatedAttachments.length <= 0')
  li(
    ng-repeat='attachment in AttachmentsService.updatedAttachments',
    ng-hide='AttachmentsService.updatedAttachments.length <= 0').attachment-filename
    div.attachment-header
      .attachment-name {{attachment.file_name}} ({{attachment.length | bytes}})
      div.attachment-progress
        div.progress(ng-show="attachment.progress")
          div.progress-bar.progress-bar-striped.active(ng-style="{'width': attachment.progress + '%'}")
            span(ng-show="!attachment.verifyingUpload && !attachment.uploadComplete") {{attachment.progress}}% complete
            span(ng-show="attachment.verifyingUpload") Verifying Upload....
            span(ng-show="attachment.uploadComplete") Upload Complete
      .attachment-remove.fa.fa-close(
      ng-show="!AttachmentsService.uploadingAttachments || (attachment.abort && attachment.progress >= 1 && !attachment.verifyingUpload && !attachment.uploadComplete)",
      type='button',
      ng-click='removeLocalAttachment($index, !!attachment.abort)')
    input#rha-case-attachement-fileDescription.form-control.description(
      maxlength='255',
      ng-show='!attachment.progress',
      placeholder="{{'Please Add File Description (max 255 characters)'|translate}}",
      ng-model='attachment.description')
    span(ng-show='attachment.progress') {{attachment.description}}


    //li(
    //  ng-repeat='attachment in TreeViewSelectorUtils.getSelectedLeaves(AttachmentsService.backendAttachments)',
    //  ng-hide='TreeViewSelectorUtils.getSelectedLeaves(AttachmentsService.backendAttachments).length <= 0') {{attachment}}

    //a.filename Testing.jpg
    //| span.size (1234)
    //.description Add Description
    //  ul.list-group
    //    li.list-group-item(
    //      ng-repeat='attachment in AttachmentsService.updatedAttachments',
    //      ng-hide='AttachmentsService.updatedAttachments.length <= 0') {{attachment.file_name}} ({{attachment.length | bytes}}) - {{attachment.description}}
    //      button.close(type='button', style='float: right', ng-click='removeLocalAttachment($index)') &times;
    //    li.list-group-item(
    //      ng-repeat='attachment in TreeViewSelectorUtils.getSelectedLeaves(AttachmentsService.backendAttachments)',
    //      ng-hide='TreeViewSelectorUtils.getSelectedLeaves(AttachmentsService.backendAttachments).length <= 0') {{attachment}}
