div.container-fluid
  div.row
    div.col-lg-6(style='padding-bottom: 14px;')
      div(rha-searchbox='', placeholder='Search')
    div.col-lg-3(style='padding-bottom: 14px;')
      div(style='display:table')
        div(rha-groupselect='', showsearchoptions='true')
        span.glyphicon.glyphicon-question-sign(
          style='display: table-cell; width: 1%; padding-left: 6px;',
          popover='Filtering by case groups helps you find related cases.',
          tabindex='0',
          popover-append-to-body='true',
          popover-trigger='mouseenter')
    div.col-lg-3(style='padding-bottom: 14px;')
      div(rha-statusselect='')
