div#redhat-access-case.container-offset
  x-rha-header(page='caseList')
  div.container-fluid.side-padding
    div.row
      div.col-md-9
        rha-list-filter(prefilter='preFilter', postfilter='postFilter')
      div.col-md-3
        button.btn.btn-primary.pull-right(ui-sref='new') Open a New Support Case
  div.bottom-border(style='margin-left: 10px; margin-right: 10px;')
  div.container-fluid.side-padding
    div.row
      div.col-xs-12
        div(ng-show='securityService.loginStatus.isLoggedIn')
          span(ng-show='loadingCases').rha-search-spinner
          div(ng-show='CaseListService.cases.length == 0 && !loadingCases') No cases found with given filters.
          div(ng-hide='CaseListService.cases.length == 0 || loadingCases')
            table.table.table-bordered.table-striped(
                ng-table='tableParams',
                style='text-align: left')
              tr(ng-repeat='case in $data')
                td(data-title='"Case ID"',
                    sortable='"case_number"',
                    style='width: 10%')
                  a(href='#/case/{{case.case_number}}') {{case.case_number}}
                td(data-title='"Summary"',
                    sortable='"summary"',
                    style='width: 15%') {{case.summary}}
                td(data-title='"Product/Version"',
                    sortable='"product"') {{case.product}} / {{case.version}}
                td(data-title='"Status"',
                    sortable='"status"') {{case.status}}
                td(data-title='"Severity"',
                    sortable='"severity"') {{case.severity}}
                td(data-title='"Owner"',
                    sortable='"owner"') {{case.owner}}
                td(data-title='"Opened"',
                    sortable='"created_date"',
                    style='width: 10%') {{case.created_date | date:'longDate'}}
                td(data-title='"Updated"',
                    sortable='"last_modified_date"',
                    style='width: 10%') {{case.last_modified_date | date:'longDate'}}


