div(ng-show='$ctrl.securityService.loginStatus.authedUser.managedAccounts.accounts.length > 0')
	select(chosen,
	width='"100%"',
	ng-options="account.accountNum as ('(' + account.accountNum + ') ' + account.name) for account in $ctrl.securityService.loginStatus.authedUser.managedAccounts.accounts",
	ng-model='$ctrl.selectedAccount',
	allow-single-deselect='true',
	data-placeholder="'Select managed account'|translate",
    no_results_text="'No match found'|translate",
	ng-change='$ctrl.onAccountSelect()')
		option(value='')
