span.rha-search-spinner(ng-show='usersLoading') 
span(ng-show='usersLoading') {{'Users Loading...'|translate}}
.row.panel.panel-default.ng-isolate-scope(ng-hide='usersLoading')
  .row
    .col-sm-12.col-md-6
      div(rha-searchbox='', placeholder='"Search Users"')
  .row
    .col-sm-12
      table.table.table-bordered(ng-table='tableParams')
        thead(style='text-align: center')
          th
            div {{'Login'|translate}}
          th
            div {{'First Name'|translate}}
          th
            div {{'Last Name'|translate}}
          th
            div {{'Access'|translate}}
          th
            div {{'Make Default Group'|translate}}
        tbody(style='text-align: center')
          tr(ng-repeat='user in usersOnScreen')
            td(data-title='', sortable='')
              p(ng-disabled='user.org_admin') {{user.sso_username}}
            td(data-title='', sortable='')
              {{user.first_name}}
            td(data-title='', sortable='')
              {{user.last_name}}
            td(data-title='', sortable='')
              p(ng-show='user.org_admin') {{'Read and Write'|translate}}
              select#rha-access-select(
                chosen,
                width='"100%"',
                ng-if='!user.org_admin',
                ng-model='user.permission',
                ng-change='setUserPermission(user)',
                ng-options='option.value as option.label for option in accessOptions')
            td
              button.btn.btn-primary(ng-click='toggleDefaultGroup(user)') {{user.hasDefaultGroup}}