doctype html
div.container-offset
  div#redhat-access-case.container-fluid
    x-rha-header(page='newCase')
    div.row
      div.col-xs-6(style='border-right: 1px solid; border-color: #cccccc;')
        div.container-fluid.side-padding
          div.create-case-section(ng-class='{"hidden": isPage2}', id='rha-case-wizard-page-1')
            div.row.create-field
              div.col-md-4
                div Product:
              div.col-md-8
                progressbar.progress-striped.active(
                  ng-hide='!productsLoading || !securityService.loginStatus.isLoggedIn',
                  max='1',
                  value='1',
                  animate='false',
                  style='height: 34px; margin-bottom: 0px;')
                select.form-control(
                  ng-disabled='!securityService.loginStatus.isLoggedIn || submittingCase',
                  ng-hide='productsLoading && securityService.loginStatus.isLoggedIn',
                  style='width: 100%;',
                  ng-model='CaseService.case.product',
                  ng-change='getProductVersions(CaseService.case.product)',
                  ng-options='p.name for p in products track by p.code',
                  ng-blur='getRecommendations()')
            div.row.create-field
              div.col-md-4
                div Product Version:
              div.col-md-8
                div
                  progressbar.progress-striped.active(
                    ng-hide='!versionLoading',
                    max='1',
                    value='1',
                    animate='false',
                    style='height: 34px; margin-bottom: 0px;')
                  select.form-control(
                    style='width: 100%;',
                    ng-model='CaseService.case.version',
                    ng-options='v for v in versions',
                    ng-change='validateForm()',
                    ng-disabled='versionDisabled || !securityService.loginStatus.isLoggedIn || submittingCase',
                    ng-hide='versionLoading',
                    ng-blur='getRecommendations()')
            div.row.create-field
              div.col-md-4
                div Summary:
              div.col-md-8
                input.form-control(
                  id='rha-case-summary',
                  style='width: 100%;',
                  ng-disabled='!securityService.loginStatus.isLoggedIn',
                  ng-change='validateForm()',
                  ng-model='CaseService.case.summary',
                  ng-blur='getRecommendations()')
            div.row.create-field
              div.col-md-4
                div Description:
              div.col-md-8
                textarea.form-control.description-box(
                  style='width: 100%; height: 200px; max-width: 100%;',
                  ng-model='CaseService.case.description',
                  ng-change='validateForm()',
                  ng-disabled='!securityService.loginStatus.isLoggedIn || submittingCase',
                  ng-blur='getRecommendations()')
            div.row
              div.col-xs-12(ng-class='{"hidden": isPage2}')
                button.btn.btn-primary(
                  style='float: right',
                  ng-click='doNext()',
                  ng-disabled='incomplete') Next
          div.create-case-section(ng-class='{"hidden": isPage1}', id='rha-case-wizard-page-1')
            div.bottom-border
              div.row
                div.col-xs-12
                  div.bold(style='margin-bottom: 10px;') {{CaseService.case.product.name}} {{CaseService.case.version}}
              div.row
                div.col-xs-12
                  div.bold(style='font-size: 90%; margin-bottom: 4px;') {{CaseService.case.summary}}
              div.row
                div.col-xs-12
                  div(style='font-size: 85%') {{CaseService.case.description}}
            div.row.create-field
              div.col-md-4 Severity:
              div.col-md-8
                progressbar.progress-striped.active(
                  ng-hide='!severitiesLoading',
                  max='1',
                  value='1',
                  animate='false',
                  style='height: 34px; margin-bottom: 0px;')
                select.form-control(
                  ng-hide='severitiesLoading',
                  style='width: 100%;',
                  ng-model='CaseService.case.severity',
                  ng-change='validatePage2()',
                  ng-disabled='submittingCase',
                  ng-options='s.name for s in severities track by s.name')
            div.row.create-field
              div.col-md-4 Case Group:
              div.col-md-8
                progressbar.progress-striped.active(
                  ng-hide='!groupsLoading',
                  max='1',
                  value='1',
                  animate='false',
                  style='height: 34px; margin-bottom: 0px;')
                select.form-control(
                  ng-hide='groupsLoading',
                  style='width: 100%;',
                  ng-disabled='submittingCase',
                  ng-model='CaseService.case.group',
                  ng-change='validatePage2()',
                  ng-options='g.name for g in groups track by g.number')
            div.row.create-field
              div.col-xs-12
                div Attachments:
            div.bottom-border
              div.row.create-field(style='overflow: auto')
                div.col-xs-12
                  rha-list-attachments(disabled='submittingCase')
              div.row.create-field(ng-hide='submittingCase')
                div.col-xs-12
                  rha-attach-local-file(disabled='submittingCase')
              div.row.create-field(ng-hide='submittingCase')
                div.col-xs-12
                  div.server-attach-header Server File(s) To Attach:
                   rha-choice-tree(
                     ng-model='attachmentTree',
                     ng-controller='BackEndAttachmentsCtrl')
            div.row(style='margin-top: 20px;')
              div.col-xs-6
                button.btn.btn-primary(
                  style='float: left',
                  ng-click='doPrevious()',
                  ng-disabled='submittingCase') Previous
              div.col-xs-6()
                button.btn.btn-primary(
                  style='float: right',
                  ng-disabled='submittingCase',
                  ng-hide='submittingCase',
                  ng-click='doSubmit()') Submit
                span.rha-search-spinner(
                  ng-show='submittingCase',
                  style='float: right')
      div.col-xs-6
        div(
          x-rha-accordion-search-results,
          ng-controller='SearchController',
          style='padding: 0 15px;')

