div.container-offset
  div#redhat-access-case.container-fluid
    x-rha-header(page='newCase')
    div.row
      div.col-xs-6(style='border-right: 1px solid; border-color: #cccccc;')
        div.container-fluid.rha-side-padding
          div.rha-create-case-section(ng-class='{"hidden": isPage2}', id='rha-case-wizard-page-1')
            div(ng-if='securityService.loginStatus.isInternal')
              div.row.rha-create-field
                div.col-md-4
                  div {{'Account:'|translate}}
                div.col-md-8
                  x-rha-account-select
              div.row.rha-create-field
                div.col-md-4
                  div {{'Owner:'|translate}}
                div.col-md-8
                  x-rha-owner-select
            div.row.rha-create-field
              div.col-md-4
                div {{'Product:'|translate}}
              div.col-md-8
                x-rha-select-loading-indicator(loading='productsLoading', type='bootstrap')
                  select.form-control(
                    ng-disabled='!securityService.loginStatus.isLoggedIn || submittingCase',
                    style='width: 100%;',
                    ng-model='CaseService.case.product',
                    ng-change='getProductVersions(CaseService.case.product)',
                    ng-options='p.name for p in products track by p.code',
                    ng-blur='getRecommendations()')
            div.row.rha-create-field
              div.col-md-4
                div {{'Product Version:'|translate}}
              div.col-md-8
                div
                  x-rha-select-loading-indicator(loading='versionLoading', type='bootstrap')
                    select.form-control(
                      style='width: 100%;',
                      ng-model='CaseService.case.version',
                      ng-options='v for v in versions',
                      ng-change='CaseService.validateNewCasePage1()',
                      ng-disabled='versionDisabled || !securityService.loginStatus.isLoggedIn || submittingCase',
                      ng-blur='getRecommendations()')
            div.row.rha-create-field
              div.col-md-4
                div {{'Summary:'|translate}}
              div.col-md-8
                input.form-control(
                  id='rha-case-summary',
                  style='width: 100%;',
                  ng-disabled='!securityService.loginStatus.isLoggedIn',
                  ng-change='CaseService.validateNewCasePage1()',
                  ng-model='CaseService.case.summary',
                  ng-blur='getRecommendations()')
            div.row.rha-create-field
              div.col-md-4
                div {{'Description:'|translate}}
              div.col-md-8
                textarea.form-control.description-box(
                  style='width: 100%; height: 200px; max-width: 100%;',
                  ng-model='CaseService.case.description',
                  ng-change='CaseService.validateNewCasePage1()',
                  ng-disabled='!securityService.loginStatus.isLoggedIn || submittingCase',
                  ng-blur='getRecommendations()')
            div.row
              div.col-xs-12(ng-class='{"hidden": isPage2}')
                button.btn.btn-primary(
                  style='float: right',
                  ng-click='doNext()',
                  ng-disabled='CaseService.newCasePage1Incomplete', translate='') Next
          div.rha-create-case-section(ng-class='{hidden: isPage1}', id='rha-case-wizard-page-2')
            div.rha-bottom-border
              div.row
                div.col-xs-12
                  div.rha-bold(style='margin-bottom: 10px;') {{CaseService.case.product.name}} {{CaseService.case.version}}
              div.row
                div.col-xs-12
                  div.rha-bold(style='font-size: 90%; margin-bottom: 4px;') {{CaseService.case.summary}}
              div.row
                div.col-xs-12
                  div(style='font-size: 85%') {{CaseService.case.description}}
            div.row.rha-create-field
              div.col-md-4 Support Level:
              div.col-md-8(ng-show='CaseService.entitlements.length <= 1') {{CaseService.entitlements[0]}}
              div.col-md-8(ng-hide='CaseService.entitlements.length <= 1')
                x-rha-entitlement-select
            div.row.rha-create-field
              div.col-md-4 {{'Severity:'|translate}}
              div.col-md-8
                x-rha-loading-indicator(loading='severitiesLoading')
                  select.form-control(
                    style='width: 100%;',
                    ng-model='CaseService.case.severity',
                    ng-change='validatePage2()',
                    ng-disabled='submittingCase',
                    ng-options='s.name for s in CaseService.severities track by s.name')
            div(ng-show='CaseService.showFts()', style='padding-left: 30px;')
              div.row.rha-create-field
                div.col-md-12 
                  span {{'24x7 Support:'|translate}}
                  input(type='checkbox', ng-model='CaseService.fts', style='display: inline-block; padding-left: 10px;')
              div.row.rha-create-field(ng-show='CaseService.fts')
                div.col-md-4
                  div {{'24x7 Contact:'|translate}}
                div.col-md-8
                  input.form-control(ng-model='CaseService.fts_contact')
            div.row.rha-create-field
              div.col-md-4 {{'Case Group:'|translate}}
              div.col-md-8
                x-rha-group-select(showsearchoptions='false')
            div(ng-show='NEW_CASE_CONFIG.showAttachments')
              div.row.rha-create-field
                div.col-xs-12
                  div {{'Attachments:'|translate}}
              div.rha-bottom-border
                div.row.rha-create-field(style='overflow: auto')
                  div.col-xs-12
                    rha-list-new-attachments
                div.row.rha-create-field(ng-hide='submittingCase')
                  div.col-xs-12
                    rha-attach-local-file(disabled='submittingCase')
                div.row.rha-create-field(ng-hide='submittingCase')
                  div.col-xs-12
                    div(ng-show='NEW_CASE_CONFIG.showServerSideAttachments')
                      div.server-attach-header Server File(s) To Attach:
                       rha-choice-tree(
                         ng-model='attachmentTree',
                         ng-controller='BackEndAttachmentsCtrl')
            div.row(style='margin-top: 20px;')
              div.col-xs-6
                button.btn.btn-primary(
                  style='float: left',
                  ng-click='doPrevious()',
                  ng-disabled='submittingCase', translate='') Previous
              div.col-xs-6()
                button.btn.btn-primary(
                  style='float: right',
                  ng-disabled='submittingCase',
                  ng-hide='submittingCase',
                  ng-click='doSubmit()', translate='') Submit
                span.rha-search-spinner(
                  ng-show='submittingCase',
                  style='float: right')
      div.col-xs-6(
        style='overflow: auto;',
        rha-resizable,
        rha-dom-ready='domReady',
        ng-show='NEW_CASE_CONFIG.showRecommendations')
        div(
          ng-controller='SearchController',
          style='overflow: vertical;')
          x-rha-accordion-search-results

