div(rha-header='', page='newCase')
.page-header(ng-if='securityService.loginStatus.isLoggedIn && !HeaderService.pageLoadFailure && CaseService.sfdcIsHealthy && securityService.loginStatus.userAllowedToManageCases')
    .row.row-short
        div(ng-class="($parent.RecommendationsService.recommendations.length === 0 || $parent.ProductsService.productsLoading) ? 'col-sm-12' : 'col-sm-8'")
            div
                section.case-new
                    section.config-options
                        rha-secure-support-header()
                        #rha-case-main-options
                            div(ng-if='$parent.canCreateCaseForOtherAccounts()')
                                label(for='rha-account-number',translate,translate-comment="Noun") Account
                                div(rha-accountselect='')
                                label {{'Owner'| translate}} &nbsp;
                                    .spinner.spinner-xs.spinner-inline(ng-show='CaseService.usersLoading')
                                div(rha-ownerselect='')
                            label {{'Product'| translate}} &nbsp;
                                .spinner.spinner-xs.spinner-inline(ng-show='$parent.ProductsService.productsLoading')
                            div(rha-productselect='')
                            label {{'Product Version'| translate}} &nbsp;
                                .spinner.spinner-xs.spinner-inline(ng-show='$parent.ProductsService.versionLoading')
                            div(rha-versionselect='')
                            label(translate,translate-comment="Noun") Case Type
                            div(rha-typeselect='', on-change = 'onCaseTypeChanged()' )
                            div(ng-if='!$parent.securityService.loginStatus.authedUser.is_internal')
                                label
                                    span {{::'Hostname'|translate}}&nbsp;
                                    span.glyphicon.glyphicon-question-sign.link(uib-tooltip="{{'Hostname is not visible to Red Hat Support professionals' |translate }}", tooltip-trigger="click")
                                input#rha-case-hostname.form-control(
                                maxlength='255',
                                ng-model='$parent.CaseService.kase.hostname',
                                ng-change='$parent.onHostnameChange($event)')
                            label(translate,translate-comment="Noun") Problem Statement
                            input#rha-case-summary.form-control(
                            maxlength='255',
                            ng-disabled='!$parent.securityService.loginStatus.isLoggedIn || $parent.CaseService.submittingCase',
                            ng-change='$parent.onSummaryChange($event)',
                            ng-model='$parent.CaseService.kase.summary',
                            ng-model-options='{ debounce: 500 }',
                            ng-focus="$parent.CaseService.updatingNewCaseSummary=true",
                            ng-blur="$parent.CaseService.updatingNewCaseSummary=false")
                            .loader
                                div(ng-show='$parent.CaseService.updatingNewCaseSummary && $parent.RecommendationsService.loadingRecommendations')
                                    .circle &nbsp;
                                    .circle &nbsp;
                                    .circle &nbsp;
                            div(ng-hide='$parent.CaseService.showKTFields')
                                label.label-small-mar.pre-wrap {{'Case Description'| translate}}
                                textarea(name='', id='rha-description',
                                style='width: 100%; height: 75px; max-width: 100%;',
                                ng-model='$parent.CaseService.kase.description',
                                ng-change='$parent.onDescriptionChange($event)',
                                ng-model-options='{ debounce: 500 }',
                                ng-disabled='!$parent.securityService.loginStatus.isLoggedIn || $parent.CaseService.submittingCase'
                                ng-focus="$parent.CaseService.updatingCaseDescription=true",
                                ng-blur="$parent.CaseService.updatingCaseDescription=false")
                                .loader
                                    div(ng-show='$parent.CaseService.updatingCaseDescription && $parent.RecommendationsService.loadingRecommendations')
                                        .circle &nbsp;
                                        .circle &nbsp;
                                        .circle &nbsp;
                            div(ng-show='$parent.CaseService.showKTFields')
                                label.label-small-mar.pre-wrap {{$parent.CaseService.problemString}}
                                textarea(name='', id='rha-problem',
                                style='width: 100%; height: 75px; max-width: 100%;',
                                ng-model='$parent.CaseService.kase.problem',
                                ng-change='$parent.onProblemChange($event)',
                                ng-model-options='{ debounce: 500 }',
                                ng-disabled='!$parent.securityService.loginStatus.isLoggedIn || $parent.CaseService.submittingCase'
                                ng-focus="$parent.CaseService.updatingProblemString=true",
                                ng-blur="$parent.CaseService.updatingProblemString=false")
                                .loader
                                    div(ng-show='$parent.CaseService.updatingProblemString && $parent.RecommendationsService.loadingRecommendations')
                                        .circle &nbsp;
                                        .circle &nbsp;
                                        .circle &nbsp;
                                label.pre-wrap.label-small-mar {{$parent.CaseService.environmentString}}
                                textarea(name='', id='rha-environment',
                                style='width: 100%; height: 75px; max-width: 100%;',
                                ng-model='$parent.CaseService.kase.environment',
                                ng-change='$parent.onEnvironmentChange($event)',
                                ng-model-options='{ debounce: 500 }',
                                ng-disabled='!$parent.securityService.loginStatus.isLoggedIn || $parent.CaseService.submittingCase'
                                ng-focus="$parent.CaseService.updatingEnvironmentString=true",
                                ng-blur="$parent.CaseService.updatingEnvironmentString=false")
                                .loader
                                    div(ng-show='$parent.CaseService.updatingEnvironmentString && $parent.RecommendationsService.loadingRecommendations')
                                        .circle &nbsp;
                                        .circle &nbsp;
                                        .circle &nbsp;
                                label.pre-wrap.label-small-mar {{$parent.CaseService.occuranceString}}
                                textarea(name='', id='rha-occurance',
                                style='width: 100%; height: 75px; max-width: 100%;',
                                ng-model='$parent.CaseService.kase.occurance',
                                ng-change='$parent.onOccuranceChange($event)',
                                ng-model-options='{ debounce: 500 }',
                                ng-disabled='!$parent.securityService.loginStatus.isLoggedIn || $parent.CaseService.submittingCase'
                                ng-focus="$parent.CaseService.updatingOccuranceString=true",
                                ng-blur="$parent.CaseService.updatingOccuranceString=false")
                                .loader
                                    div(ng-show='$parent.CaseService.updatingOccuranceString && $parent.RecommendationsService.loadingRecommendations')
                                        .circle &nbsp;
                                        .circle &nbsp;
                                        .circle &nbsp;
                                label.pre-wrap.label-small-mar {{$parent.CaseService.urgencyString}}
                                textarea(name='', id='rha-urgency',
                                style='width: 100%; height: 75px; max-width: 100%;',
                                ng-model='$parent.CaseService.kase.urgency',
                                ng-change='$parent.onUrgencyChange($event)',
                                ng-model-options='{ debounce: 500 }',
                                ng-disabled='!$parent.securityService.loginStatus.isLoggedIn || $parent.CaseService.submittingCase'
                                ng-focus="$parent.CaseService.updatingUrgencyString=true",
                                ng-blur="$parent.CaseService.updatingUrgencyString=false")
                                .loader
                                    div(ng-show='$parent.CaseService.updatingUrgencyString && $parent.RecommendationsService.loadingRecommendations')
                                        .circle &nbsp;
                                        .circle &nbsp;
                                        .circle &nbsp;
                            div(style="margin-top: 10px", ng-show='$parent.NEW_CASE_CONFIG.showAttachments && !canAddAttachments()')
                                b {{'Get faster results.'|translate}}
                                | &nbsp; {{'Attaching logs or other diagnostics files typically results in faster resolution.'|translate}}
                                div(ng-if='CaseService.kase.product === "Red Hat Virtualization"')
                                    span {{'Please attach a ' | translate}}
                                    a(href="/solutions/61546", target='_blank') RHV log collector
                                    span {{' archive (optional)' | translate}}
                                div(ng-bind-html='$parent.AttachmentsService.parseArtifactHtml()')
                                div#attachments(rha-listnewattachments='')
                                div#attach-file(rha-attachlocalfile='', disabled='$parent.CaseService.submittingCase')
                        #rha-case-more-options.rha-case-more-options

                            label {{'Support Level' |translate}}
                                span.glyphicon.glyphicon-question-sign.link(uib-tooltip-html='"<div><span>{{"To Learn more view the" |translate }}</span><br /><a href=\'/support/offerings/production/sla.html\' target=\'_blank\'>{{"Production Support Service Level Agreement"|translate}}</a></div>"',tabindex='0',tooltip-trigger="click")
                            select#rha-supportLevel-select(
                            chosen,
                            data-placeholder="{{'Select an Option' | translate}}",
                            no_results_text="'No match found'|translate",
                            ng-model="$parent.CaseService.entitlement",
                            ng-change="$parent.CaseService.onChangeFTSCheckCreationPage()",
                            width="'100%'",
                            ng-options="entitlement as entitlement for entitlement in $parent.CaseService.entitlements")
                                option(value="")
                            label {{'Severity' |translate}}
                                span.glyphicon.glyphicon-question-sign.link(uib-tooltip-html='"<div><span>{{"To Learn more view the" |translate }}</span><br /><a href=\'/support/policy/severity\' target=\'_blank\'>{{"Red Hat Support Severity Level Definitions"|translate}}</a></div>"',tabindex='0',tooltip-trigger="click")
                            div(rha-severityselect,
                            created-case="$parent.CaseService.kase",
                            severity-change="$parent.CaseService.onChangeFTSCheckCreationPage()",
                            severity-disabled="$parent.CaseService.submittingCase",
                            severities="$parent.CaseService.severities")
                            div(ng-show="$parent.showEnhancedSLA()")
                                label#rha-enhanced-SLA(translate,translate-comment="Noun") Enhanced SLA
                                input(
                                type="checkbox",
                                ng-model="$parent.CaseService.kase.enhanced_sla"
                                ng-disabled='$parent.canCreateCaseForOtherAccounts() ? !$parent.CaseService.account.has_available_enhanced_sla : !$parent.securityService.loginStatus.authedUser.account.has_available_enhanced_sla')
                                span &nbsp;
                                span.glyphicon.glyphicon-info-sign.text-danger(ng-show="$parent.canCreateCaseForOtherAccounts() ? !$parent.CaseService.account.has_available_enhanced_sla : !$parent.securityService.loginStatus.authedUser.account.has_available_enhanced_sla" uib-tooltip="{{$parent.noEnhancedSLAMessage}}")
                            div(ng-show="$parent.CaseService.showFtsOnCreatePage()")
                                label#rha-24X7_Support(translate,translate-comment="Noun") 24x7 Support
                                input(
                                type="checkbox",
                                ng-model="$parent.CaseService.fts")
                            div(ng-show="$parent.CaseService.showFtsOnCreatePage()")
                                label#rha-24X7_Contact(translate,translate-comment="Noun") 24x7 Contact
                                input#rha-24X7_Contact_input(ng-model="$parent.CaseService.fts_contact")
                            div(ng-if="!$parent.COMMON_CONFIG.isGS4 && !$parent.disableEmailNotifySelect()")
                                label(for='email-notifications',translate,translate-comment="Noun") {{'Send Additional Email Notifications to' | translate}}
                                    span &nbsp;
                                    span.glyphicon.glyphicon-info-sign.link(uib-tooltip-html='"<div><span>{{"By opening this case you will automatically receive notifications." |translate }}</span></div>"',tabindex='0',tooltip-trigger="focus")
                                .spinner.spinner-inline(ng-show='!$parent.securityService.loginStatus.isLoggedIn  || $parent.CaseService.usersLoading || $parent.securityService.loggingIn')
                                select(
                                chosen,
                                multiple,
                                data-placeholder="{{'Select a User'|translate}}",
                                ng-model='$parent.kase.notifiedUsers',
                                id='rha-email-notify-select',
                                width='"100%"',
                                ng-options="user.sso_username as (user.first_name+' '+user.last_name+' <'+user.sso_username+'>') for user in $parent.usersOnAccount | orderBy:['first_name','last_name']")
                                    option(value="")
                            div(ng-if="!$parent.COMMON_CONFIG.isGS4 && $parent.disableEmailNotifySelect()")
                                label(for='email-notifications',translate,translate-comment="Noun") {{'Send Additional Email Notifications to' | translate}}
                                    span &nbsp;
                                    span.glyphicon.glyphicon-info-sign.link(uib-tooltip-html='"<div><span>{{"By opening this case you will automatically receive notifications." |translate }}</span></div>"',tabindex='0',tooltip-trigger="focus")
                                .spinner.spinner-inline(ng-show='!$parent.securityService.loginStatus.isLoggedIn  || $parent.CaseService.usersLoading || $parent.securityService.loggingIn')
                                input.form-control(
                                ng-disabled='true',
                                placeholder="{{'Select a User'|translate}}")
                            label(translate,translate-comment="Noun" ng-if="!$parent.caseGroupRequired") Case Group (Optional)
                            label(translate,translate-comment="Noun" ng-if="$parent.caseGroupRequired") Case Group (Mandatory)
                                span &nbsp;
                                span(ng-if="$parent.caseGroupRequired").glyphicon.glyphicon-info-sign.link(uib-tooltip-html='"<div><span>{{"Selecting a case group is mandatory for case creation, if there are no groups assigned to you. Please contact your Org admin" | translate }}</span></div>"',tabindex='0',tooltip-trigger="focus")
                            div(rha-groupselect='', ng-init="$parent.setSearchOptions(false)")
                        .row.submit
                            //- TODO make remove local storage once implemented
                            .col-sm-12
                                button.btn.btn-app(
                                ng-disabled='$parent.CaseService.submittingCase || $parent.CaseService.newCaseIncomplete',
                                ng-hide='$parent.CaseService.submittingCase',
                                ng-click='$parent.doSubmit($event)',
                                ng-class="{'btn-primary': !($parent.CaseService.submittingCase || $parent.CaseService.newCaseIncomplete) }",
                                translate,translate-comment="Verb") Submit
                                a.margin-left(href='#/case/list',ng-hide='$parent.CaseService.submittingCase',translate,translate-comment="Verb") Cancel
        .aside.col-sm-4.new-recommendations-column#new-recommendations-column(ng-hide="$parent.RecommendationsService.recommendations.length === 0 || $parent.ProductsService.productsLoading")
            div.affixed-recommendations(rha-newcaserecommendations='', items-per-page='$parent.recommendationsPerPage')
