doctype html
div.container-offset
  div#redhat-access-case.container-fluid
    rha-page-header
    div.row
      div.col-xs-6(style='border-right: 1px solid; border-color: #cccccc;')
        div.container-fluid.side-padding
          div.create-case-section(ng-class='{"hidden": isPage2}', id='rha-case-wizard-page-1')
            div.row.create-field
              div.col-md-4
                div Product:
              div.col-md-8
                select.form-control(
                  style='width: 100%;',
                  ng-model='product',
                  ng-change='getProductVersions(product)',
                  ng-options='p.name for p in products track by p.code',
                  ng-blur='getRecommendations()')
            div.row.create-field
              div.col-md-4
                div Product Version:
              div.col-md-8
                div
                  progressbar.progress-striped.active(ng-hide='!versionLoading', max='1', value='1', style='height: 34px; margin-bottom: 0px;')
                  select.form-control(
                    style='width: 100%;',
                    ng-model='version',
                    ng-options='v for v in versions',
                    ng-change='validateForm()',
                    ng-disabled='versionDisabled',
                    ng-hide='versionLoading',
                    ng-blur='getRecommendations()')
            div.row.create-field
              div.col-md-4
                div Summary:
              div.col-md-8
                input.form-control(
                  id='rha-case-summary',
                  style='width: 100%;',
                  ng-change='validateForm()',
                  ng-model='summary',
                  ng-blur='getRecommendations()')
            div.row.create-field
              div.col-md-4
                div Description:
              div.col-md-8
                textarea.form-control(
                  style='width: 100%; height: 200px;',
                  ng-model='description',
                  ng-change='validateForm()',
                  ng-blur='getRecommendations()')
            div.row
              div.col-xs-12(ng-class='{"hidden": isPage2}')
                button.btn.btn-primary(
                  style='float: right',
                  ng-click='doNext()',
                  ng-disabled='incomplete') Next
          div.create-case-section(ng-class='{"hidden": isPage1}', id='rha-case-wizard-page-1')
            div.bottom-border
              div.row
                div.col-xs-12
                  div.bold(style='margin-bottom: 10px;') {{product.name}} {{version}}
              div.row
                div.col-xs-12
                  div.bold(style='font-size: 90%; margin-bottom: 4px;') {{summary}}
              div.row
                div.col-xs-12
                  div(style='font-size: 85%') {{description}}
            div.row.create-field
              div.col-md-4 Severity:
              div.col-md-8
                select.form-control(
                  style='width: 100%;',
                  ng-model='severity',
                  ng-change='validatePage2()',
                  ng-options='s.name for s in severities track by s.name')
            div.row.create-field
              div.col-md-4 Case Group:
              div.col-md-8
                select.form-control(
                  style='width: 100%;',
                  ng-model='caseGroup',
                  ng-change='validatePage2()',
                  ng-options='g.name for g in groups track by g.number')
            div.row.create-field
              div.col-xs-12
                div Attachments:
            div.bottom-border
              div.row.create-field(style='overflow: auto')
                div.col-xs-12
                  rha-list-attachments
              div.row.create-field
                div.col-xs-12
                  rha-attach-local-file
              div.row.create-field
                div.col-xs-12 
                  div.server-attach-header Server File(s) To Attach:
                   rha-choice-tree(
                      ng-model="attachmentTree",
                      ng-controller="BackEndAttachmentsCtrl"
                  )
            div.row(style='margin-top: 20px;')
              div.col-xs-6
                button.btn.btn-primary(
                  style='float: left',
                  ng-click='doPrevious()') Previous
              div.col-xs-6
                button.btn.btn-primary(
                  style='float: right',
                  ng-disabled='submittingCase',
                  ng-click='doSubmit()') Submit
      div.col-xs-6
        div.container-fluid(style='padding-right: 15px;')
          div.row
            div.col-xs-12
              div.bottom-border(style='padding-bottom: 0')
                h4(style='padding-left: 10px; display: inline-block;') Recommendations
                span(ng-hide='!loadingRecommendations', style='float: right; display: inline-block;') Loading...
          div.row
            div.col-xs-12
              div(
                x-accordion-search-results,
                ng-controller='SearchController',
                style='padding: 0 15px;')

