div#redhat-access-case
  div(rha-header='', page='newCase')
  div.row(ng-show='securityService.loginStatus.isLoggedIn && securityService.loginStatus.authedUser.has_chat')
    div.pull-right
        div(rha-chatbutton='' style='margin-right: 10px;')
  div.rha-bottom-border(ng-show='securityService.loginStatus.isLoggedIn && securityService.loginStatus.authedUser.has_chat')
  div.row.no-margin-bottom.full-border(ng-hide='!NEW_CASE_CONFIG.isPCM')
    div.col-md-4.center 
      label {{'Product & Topic'|translate}}
      div(ng-attr-class="{{isPage1 && 'no-fun' || 'fun' }}")
    div.col-md-4.center 
      label {{'Case Details'|translate}}
      div(ng-attr-class="{{(isPage2 && !submittingCase) && 'no-fun' || 'fun' }}")
    div.col-md-4.center 
      label {{'Creating Case'|translate}}
      div(ng-attr-class="{{submittingCase && 'no-fun' || 'fun' }}")
  div.row(ng-class="{'partial-border': NEW_CASE_CONFIG.isPCM}")
    div.col-xs-6(style='border-right: 1px solid; border-color: #cccccc;')
      div.rha-create-case-section(ng-class='{"hidden": isPage2}', id='rha-case-wizard-page-1')
        div(ng-if='securityService.loginStatus.authedUser.is_internal')
          div.row.rha-create-field
            div.col-md-3
              label(for='rha-account-number') {{'Account:'|translate}}
            div.col-md-9
              div(rha-accountselect='')
          div.row.rha-create-field
            div.col-md-3
              label(for='rha-owners-select') {{'Owner:'|translate}}
            div.col-md-9
              div(rha-ownerselect='')
        div.row.rha-create-field
          div.col-md-3
            label(for='rha-product-select') {{'Product:'|translate}}
          div.col-md-9
            div(rha-selectloadingindicator='', loading='productsLoading', type='bootstrap')
              select#rha-product-select.form-control(
                ng-disabled='!securityService.loginStatus.isLoggedIn || submittingCase',
                style='width: 100%;',
                ng-model='CaseService.kase.product',
                ng-change='getProductVersions(CaseService.kase.product);getRecommendations()',
                ng-options='p.value as p.label for p in products',
                options-disabled='p.isDisabled for p in products')
        div.row.rha-create-field
          div.col-md-3
            label(for='rha-product-version-select') {{'Product Version:'|translate}}
          div.col-md-9
            div
              div(rha-selectloadingindicator='', loading='versionLoading', type='bootstrap')
                select#rha-product-version-select.form-control(
                  style='width: 100%;',
                  ng-model='CaseService.kase.version',
                  ng-options='v for v in versions',
                  ng-change='CaseService.validateNewCasePage1();getRecommendations()',
                  ng-disabled='versionDisabled || !securityService.loginStatus.isLoggedIn || submittingCase')
              div.versionSunsetMessage(ng-show='CaseService.showVersionSunset()')
                span {{'This release is now retired, please refer to the recommended FAQ prior to filing a case'|translate}}
        div.row.rha-create-field
          div.col-md-3
            label(for='rha-case-summary') {{'Summary:'|translate}}
          div.col-md-9
            input#rha-case-summary.form-control(
              style='width: 100%;',
              ng-disabled='!securityService.loginStatus.isLoggedIn',
              ng-change='CaseService.validateNewCasePage1()',
              ng-model='CaseService.kase.summary')
        div.row.rha-create-field
          div.col-md-3
            label(for='rha-case-description') {{'Description:'|translate}}
          div.col-md-9
            textarea#rha-case-description.form-control.description-box(
              style='width: 100%; height: 200px; max-width: 100%;',
              ng-model='CaseService.kase.description',
              ng-change='CaseService.validateNewCasePage1()',
              ng-disabled='!securityService.loginStatus.isLoggedIn || submittingCase')
        div.row
          div.col-xs-12(ng-class='{"hidden": isPage2}')
            button.btn.btn-primary.btn-next(
              style='float: right',
              ng-click='doNext()',
              ng-disabled='CaseService.newCasePage1Incomplete', translate='') Next
      div.rha-create-case-section(ng-class='{hidden: isPage1}', id='rha-case-wizard-page-2')
        div.rha-bottom-border
          div.row
            div.col-xs-12
              div.rha-bold(style='margin-bottom: 10px;') {{CaseService.kase.product.name}} {{CaseService.kase.version}}
          div.row
            div.col-xs-12
              div.rha-bold(style='font-size: 90%; margin-bottom: 4px;') {{CaseService.kase.summary}}
          div.row
            div.col-xs-12
              div(style='font-size: 85%') {{CaseService.kase.description}}
        div.row.rha-create-field
          div.col-md-4(ng-hide='CaseService.entitlements.length <= 1')
            label(for='rha-entitlement-select') Support Level:
          div.col-md-8(ng-show='CaseService.entitlements.length <= 1') {{CaseService.entitlements[0]}}
          div.col-md-8(ng-hide='CaseService.entitlements.length <= 1')
            div(rha-entitlementselect='')
        div.row.rha-create-field
          div.col-md-4
            label(for='rha-severity') {{'Severity:'|translate}}
          div.col-md-8
            div(rha-loadingindicator='', loading='severitiesLoading')
              select#rha-severity.form-control(
                style='width: 100%;',
                ng-model='CaseService.kase.severity',
                ng-change='validatePage2()',
                ng-disabled='submittingCase',
                ng-options='s.name for s in CaseService.severities track by s.name')
        div(ng-show='CaseService.showFts()', style='padding-left: 30px;')
          div.row.rha-create-field
            div.col-md-12
              span {{'24x7 Support:'|translate}}
              input(type='checkbox', ng-model='CaseService.fts', style='display: inline-block; padding-left: 10px;')
          div.row.rha-create-field(ng-show='CaseService.fts')
            div.col-md-4
              div {{'24x7 Contact:'|translate}}
            div.col-md-8
              input.form-control(ng-model='CaseService.fts_contact')
        div.row.rha-create-field
          div.col-md-4
            label(for='rha-group-select') {{'Case Group:'|translate}}
          div.col-md-8
            div(rha-groupselect='', ng-init="setSearchOptions('false')")
        div(ng-show='NEW_CASE_CONFIG.showAttachments && securityService.loginStatus.authedUser.can_add_attachments')
          div.row.rha-create-field
            div.col-xs-12
              label {{'Attachments:'|translate}}
          div.rha-bottom-border
            div.row.rha-create-field(style='overflow: auto')
              div.col-xs-12
                div(rha-listnewattachments='')
            div.row.rha-create-field(ng-hide='submittingCase')
              div.col-xs-12
                div(rha-attachlocalfile='', disabled='submittingCase')
            div.row.rha-create-field(ng-hide='submittingCase')
              div.col-xs-12
                div(ng-show='NEW_CASE_CONFIG.showServerSideAttachments')
                  div.server-attach-header Server File(s) To Attach:
                   div(rha-choicetree='',
                     ng-model='attachmentTree',
                     ng-controller='BackEndAttachmentsCtrl')
        div.row(style='margin-top: 20px;')
          div.col-xs-6
            button.btn.btn-primary.btn-previous(
              style='float: left',
              ng-click='doPrevious()',
              ng-disabled='submittingCase', translate='') Previous
          div.col-xs-6()
            button.btn.btn-primary.btn-submit(
              style='float: right',
              ng-disabled='submittingCase',
              ng-hide='submittingCase',
              ng-click='doSubmit($event)', translate='') Submit
            span.rha-search-spinner(
              ng-show='submittingCase',
              style='float: right')
    div.col-xs-6(
      style='overflow: auto;',
      ng-show='NEW_CASE_CONFIG.showRecommendations')
      div(
        ng-controller='SearchController',
        style='overflow: vertical;')
        div(ng-hide='!NEW_CASE_CONFIG.isPCM', rha-newrecommendations='')
        div(ng-hide='NEW_CASE_CONFIG.isPCM', rha-accordionsearchresults='')

