.content-loading-notification(ng-hide='RecommendationsService.recommendations.length === 0 || !RecommendationsService.loadingRecommendations')
  .container(ng-show='RecommendationsService.loadingRecommendations')
    .loader
      .circle &nbsp
      .circle &nbsp
      .circle &nbsp
    | {{(getLocatingSolutionText())}}
  .container(ng-hide='RecommendationsService.loadingRecommendations')
    .loader
      i.fa.fa-check-circle
    | {{'Based on details you provided, we found some likely solutions.'|translate}} &nbsp
    a(ng-click='scrollToRecommendations()') {{'View Recommendations'|translate}}

div(rha-header='', page='newCase')
.page-header(ng-show='securityService.loginStatus.isLoggedIn && !HeaderService.pageLoadFailure && CaseService.sfdcIsHealthy && securityService.loginStatus.userAllowedToManageCases')
  .row.row-short
    div(ng-class="RecommendationsService.recommendations.length === 0 ? 'col-sm-12' : 'col-sm-8'")
      div(ng-show='ProductsService.productsLoading')
        .spinner
      div(ng-hide='ProductsService.productsLoading')
        section.case-new
          section.config-options
            div(ng-if='securityService.loginStatus.authedUser.is_internal')
              .row.row-short
                .col-sm-4.col-md-3
                  label(for='rha-account-number') {{'Account'|translate}}
                .col-sm-7.col-md-6
                  div(rha-accountselect='')
              .row.row-short
                .col-sm-4.col-md-3
                  label(for='rha-owners-select') {{'Owner'|translate}}
                .col-sm-7.col-md-6
                  div(rha-ownerselect='')
            .row.row-short
              .col-sm-4.col-md-3
                .label {{'Product'|translate}}
              .col-sm-7.col-md-6
                div(rha-productselect='')
            .row.row-short
              .col-sm-4.col-md-3
                .label {{'Product Version'|translate}}
              .col-sm-7.col-md-6
                div(rha-versionselect='')
            .row.row-short
              .col-sm-4.col-md-3
                .label {{'Case Name'|translate}}
              .col-sm-7.col-md-6
                input#rha-case-summary.form-control(
                maxlength='255',
                ng-disabled='!securityService.loginStatus.isLoggedIn || CaseService.submittingCase',
                ng-change='CaseService.validateNewCase();;CaseService.updateLocalStorageForNewCase()',
                ng-model='CaseService.kase.summary'
                ng-focus="CaseService.updatingNewCaseSummary=true",
                ng-blur="CaseService.updatingNewCaseSummary=false")
              .col-sm-1(ng-show='CaseService.updatingNewCaseSummary')
                .loader
                  .circle &nbsp
                  .circle &nbsp
                  .circle &nbsp
            .row.row-short
              .col-sm-4.col-md-3
                .label {{'Case Description'|translate}}
              .col-sm-7.col-md-8
                textarea(name='', id='rha-description', cols='30', rows='10',
                  style='width: 100%; height: 200px; max-width: 100%;',
                  ng-model='CaseService.kase.description',
                  ng-change='CaseService.validateNewCase();CaseService.updateLocalStorageForNewCase()',
                  ng-disabled='!securityService.loginStatus.isLoggedIn || CaseService.submittingCase'
                  ng-focus="CaseService.updatingNewCaseDescription=true",
                  ng-blur="CaseService.updatingNewCaseDescription=false")
                div(style="margin-top: 15px", ng-show='NEW_CASE_CONFIG.showAttachments && securityService.loginStatus.authedUser.can_add_attachments')
                  b {{'Get faster results.'|translate}}
                  | &nbsp; {{'Attaching logs or other diagnostics files typically results in faster resolution.'|translate}}
                  div(ng-bind-html='AttachmentsService.parseArtifactHtml()')
                  div(rha-listnewattachments='')
                  div(ng-hide='ie8 || ie9', rha-attachlocalfile='', disabled='CaseService.submittingCase')

                  .rha-bottom-border(ng-hide='ie8 && NEW_CASE_CONFIG.isPCM || ie9 && NEW_CASE_CONFIG.isPCM')
                    .row.rha-create-field(ng-hide='CaseService.submittingCase')
                      .col-xs-12
                        div(ng-show='NEW_CASE_CONFIG.showServerSideAttachments')
                          .server-attach-header {{'Server File(s) To Attach:'|translate}}
                           div(rha-choicetree='',
                             ng-model='attachmentTree',
                             ng-controller='BackEndAttachmentsCtrl')
                  div(ng-show='ie8 && NEW_CASE_CONFIG.isPCM || ie9 && NEW_CASE_CONFIG.isPCM')
                    form#fileUploaderForm(enctype="multipart/form-data", method="post",target="upload_target")
                      div
                        .row.rha-create-field
                          .col-xs-6
                            input(id='newFileUploader', type='file', value='upload',name='file')
                          .col-xs-6
                            div(style='float: left; word-wrap: break-word; width: 100%;') {{fileName}}
                        .row.rha-create-field
                          .col-xs-12(style='font-size: 80%;')
                            div(ng-bind-html='parseArtifactHtml()')
                          .col-xs-12(style='font-size: 80%;')
                            span {{'File names must be less than 80 characters. Maximum file size for web-uploaded attachments is 1 GB. Please FTP larger files to dropbox.redhat.com.'|translate}}&nbsp;
                            span
                              a(href='https://access.redhat.com/knowledge/solutions/2112', target='_blank') {{'(More info)'|translate}}
                        .row.rha-create-field
                          .col-xs-12
                            input#fileDescription.form-control(
                            style='float: left;',
                            type='text',
                            name='description',
                            ng-model='ieFileDescription',
                            placeholder="{{'File description'|translate}}")
                    iframe#upload_target(name='upload_target', style='width: 0; height: 0; border: 0px solid #fff;')
              .col-sm-1(ng-show='CaseService.updatingNewCaseDescription')
                .loader
                  .circle &nbsp
                  .circle &nbsp
                  .circle &nbsp
            .row.row-short
              .col-sm-4.col-md-3
                .label {{'Support Level'|translate}}
                  span.glyphicon.glyphicon-question-sign.link(tooltip-html-unsafe='{{"To Learn more view the" |translate }}</br><a href=\'/support/offerings/production/sla.html\' target=\'_blank\'>{{"Production Support Service Level Agreement"|translate}}</a>',tabindex='0',tooltip-trigger="click")
              .col-sm-7.col-md-6
                select#rha-supportLevel-select(
                  chosen,
                  ng-model="CaseService.entitlement",
                  ng-change="CaseService.onChangeFTSCheck()",
                  width="'100%'",
                  ng-options="entitlement as entitlement for entitlement in CaseService.entitlements")
                  option(value="")
            .row.row-short
              .col-sm-4.col-md-3
                .label.inline-tooltip {{'Severity'|translate}}
                  span.glyphicon.glyphicon-question-sign.link(tooltip-html-unsafe='{{"To learn more, visit the " |translate }}</br><a href=\'/support/policy/severity\' target=\'_blank\'>{{"Red Hat Support Severity Level Definitions"|translate}}</a>',tabindex='0',tooltip-trigger="click")
              .col-sm-7.col-md-6
                .row
                  .col-xs-12
                    select#rha-severity.form-control(
                      chosen,
                      width='"100%"',
                      ng-model='CaseService.kase.severity',
                      ng-change='CaseService.onChangeFTSCheck()',
                      ng-disabled='CaseService.submittingCase',
                      ng-options='s.name for s in CaseService.severities track by s.name')
                .row.row-short(ng-show="CaseService.showFts()")
                  .col-xs-1
                    input.pull-left(
                      type="checkbox",
                      ng-model="CaseService.fts")
                  .col-xs-11
                    .row
                      .col-xs-12
                        .label.pull-left {{'24x7 Support'|translate}}
                    .row.row-short(ng-show="CaseService.showFts()")
                      .col-xs-12
                        .label.pull-left {{'24x7 Contact'|translate}}
                        input.pull-left.margin-left(
                          ng-model="CaseService.fts_contact")
            .row.row-short
              .col-sm-4.col-md-3
                .label(for='email-notifications') {{'Send Email Notifications to'|translate}}
              .col-sm-7.col-md-6
                .spinner.spinner-inline(ng-show='!securityService.loginStatus.isLoggedIn  || CaseService.usersLoading || securityService.loggingIn')
                select(
                  chosen,
                  multiple,
                  data-placeholder="{{'Select a User'|translate}}",
                  ng-disabled='updatingList || CaseService.submittingCase',
                  ng-model='notifiedUsers',
                  id='rha-email-notify-select',
                  width='"100%"',
                  ng-options='user as user for user in usersOnAccount')
            .row.row-short
              .col-sm-4.col-md-3
                .label {{'Case Group (Optional)'|translate}}
              .col-sm-7.col-md-6
                div(rha-groupselect='', ng-init="setSearchOptions('false')")

            .row
              //- TODO make remove local storage once implemented
              .col-sm-12
                button.btn.btn-accent.btn-submit(
                  ng-disabled='CaseService.submittingCase || CaseService.newCaseIncomplete',
                  ng-hide='CaseService.submittingCase',
                  ng-click='doSubmit($event)', translate='') Submit
                a.margin-left(href='#/case/list',ng-hide='CaseService.submittingCase') {{'Cancel'|translate}}
    .aside.col-sm-4(ng-hide="RecommendationsService.recommendations.length === 0")
      div(rha-newcaserecommendationsalternate='')
