div#rha-new-recommendation-section.row.rha-bottom-border
  div.col-xs-12
    div(style="padding-bottom: 0")
      span
        h4(style="padding-left: 10px; display: inline-block;") Red Hat Access Recommendations
      span.rha-search-spinner(ng-show='searchInProgress.value', style='float: right;')
div.col-xs-12
  div.recommendations-inner(ng-show='results.length')
    ul.recommendations(style="display: block;")
      li(ng-repeat="result in results")
        a(ng-click='triggerAnalytics($event)', href='{{result.resource_view_uri}}', target='_blank')
          strong {{result.title}}
          span.icon-solution
        p.snippet(ng-bind-html='result.abstract')
    div.row(style='padding-top: 10px;', ng-hide='results.length == 0')
      div.col-xs-12
        pagination.pagination-sm(
          boundary-links='true',
          total-items='SearchResultsService.results.length',
          on-select-page='selectPage(page)',
          items-per-page='itemsPerPage',
          page='currentPage',
          rotate='false',
          max-size='maxPagerSize',
          previous-text='<',
          next-text='>',
          first-text='<<',
          last-text='>>')
  div#emptyRecommendation(ng-hide='results.length || searchInProgress.value')
    span(style='display: inline-block; padding-right: 10px;') {{'No recommendations are available.' | translate}}
