div.col-xs-12
  div(ng-show='results.length')
    ul.recommendations(style="display: block;")
      li(ng-repeat="result in results")
        article
          header
            a(ng-click='triggerAnalytics($event)', href='{{result.resource_view_uri}}', target='_blank') {{result.title}}
          p.article-content
            a(ng-click='triggerAnalytics($event)', href='{{result.resource_view_uri}}', target='_blank', ng-bind-html='result.abstract')
          footer
            span.user-action
              | Updated 
              date
                b 06/22/14
              |  at 
              time
                b 4:31pm
    div.row(style='padding-top: 10px;', ng-hide='results.length == 0')
      div.col-xs-12
        pagination.pagination-sm(
          boundary-links='true',
          total-items='SearchResultsService.results.length',
          on-select-page='selectPage(page)',
          items-per-page='itemsPerPage',
          page='currentPage',
          rotate='false',
          max-size='maxPagerSize',
          previous-text='<',
          next-text='>',
          first-text='<<',
          last-text='>>')
