select#rha-product-select.form-control(
	chosen,
    data-placeholder="{{'Select an Option' | translate}}",
    no_results_text="'No match found'|translate",
	width='"100%"',
	ng-disabled='ProductsService.products.length === 0 || !securityService.loginStatus.isLoggedIn || CaseService.submittingCase || ProductsService.productsLoading',
	ng-model='CaseService.kase.product',
	ng-change='onProductSelect($event)',
	ng-options='p.code as p.name group by p.supported disable when p.isDisabled for p in products')
	option(value="")
