select#rha-product-select.form-control(
	chosen,
	width='"100%"',
	ng-disabled='ProductsService.products.length === 0 || !securityService.loginStatus.isLoggedIn || CaseService.submittingCase',
	ng-model='CaseService.kase.product',
	ng-change='CaseService.kase.version=""; ProductsService.getVersions(CaseService.kase.product); CaseService.validateNewCase();CaseService.updateLocalStorageForNewCase()',
	ng-options='p.code as p.name disable when option.isDisabled for p in products')
