label Product
x-rha-select-loading-indicator(loading='productsLoading')
  ui-select(
    theme='bootstrap',
    id='rha-case-search_products',
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.product',
    ng-change='onchange()')
    ui-select-match(placeholder='Select a Product') {{$select.selected.name}}
    ui-select-choices(
      repeat='product in CaseService.products | filter: $select.search',
      style='overflow: auto;')
      div {{product.name}}
