div(rha-selectloadingindicator='', loading='productsLoading', type='select2')
  select(
    chosen,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.product',
    ng-change='CaseService.onSelectChanged()',
    width='"100%"',
    ng-options='product.name as product.name for product in CaseService.products')
