.modal-header
  h3.modal-title(translate='') Request Management Escalation
.modal-body
  .row
    .col-sm-12
      span {{'If you feel the issue has become more severe or the case should be a higher priority, please provide a detailed comment, and the case will be reviewed by a support manager.'|translate}}
      a(href='https://access.redhat.com/site/support/policy/mgt_escalation', target='_blank') {{'Learn more'|translate}}
      p#requireFieldInfo.rha-bold {{'* All fields are mandatory.'|translate}}
  .row
    .col-sm-12
        form
          .form-group
            label.control-label {{'Subject:'|translate}}
            textarea.form-control(
                maxlength='2000',
                ng-model='CaseService.escalationSubject',
                ng-disabled='submittingRequest',
                ng-change='onNewEscalationComment()')
          .form-group
            label.control-label {{'Description:'|translate}}
            textarea.form-control(
                maxlength='2000',
                ng-model='CaseService.escalationDescription',
                ng-disabled='submittingRequest',
                ng-change='onNewEscalationComment()')
          .form-group
            label.control-label {{'Expectations:'|translate}}
            textarea.form-control(
                maxlength='2000',
                ng-model='CaseService.escalationExpectations',
                ng-disabled='submittingRequest',
                ng-change='onNewEscalationComment()')
          .form-group
            label.control-label(for='rha-geo') {{'Customer GEO'|translate}}
            select#rha-geo.form-control.productSelect.nonEmpty(
              ng-model='CaseService.rmeEscalationGeo'
              ng-options='geo.label for geo in RMEGeoList',
              ng-disabled='submittingRequest',
              ng-change="onNewEscalationComment()")
.modal-footer
    span.spinner.spinner-inline(ng-show='submittingRequest')
    button#rha-case-escalation-submitbutton.btn-accent.btn(
        style='margin-left: 10px;',
        ng-click='submitRMEEscalation()',
        ng-disabled='submittingRequest || disableSubmitRequest')
        span {{'Submit Request'|translate}}
    button.btn-accent.btn(style='margin-left: 10px;', ng-click='closeModal()', ng-disabled='submittingRequest') {{'Cancel'|translate}}
