div#rha-case-search.container-offset
  x-rha-header(page='searchCase')
  div.container-fluid
    div.row(style='padding-bottom: 10px;')
      div.col-xs-6
        x-rha-search-box(placeholder='Search')
      div.col-xs-3
        div.pull-right
          span(style='padding-right: 4px;') Want real-time help?
          x-rha-chat-button
      div.col-xs-3
        button.btn.btn-secondary.pull-right(
          ng-disabled='!securityService.loginStatus.isLoggedIn',
          ui-sref='new') Open a New Support Case
    div.bottom-border
    div.row(style='padding-bottom: 10px;')
      div.col-sm-2
        label Status
        x-rha-status-select
      div.col-sm-2
        label Severity
        x-rha-severity-select
      div.col-sm-2
        label Type
        x-rha-type-select
      div.col-sm-2
        label Group
        x-rha-group-select
      div.col-sm-2
        label Owner
        x-rha-owner-select
      div.col-sm-2
        label Product
        x-rha-product-select
    div(ng-show='SearchCaseService.searching && securityService.loginStatus.isLoggedIn')
      div.row(style='padding-bottom: 4px;')
        div.col-xs-12
          span.rha-search-spinner
          h3(style='display: inline-block; padding-left: 4px;') Searching...
    div(ng-show='SearchCaseService.cases.length === 0 && !SearchCaseService.searching')
      div.row
        div.col-xs-12
          div No cases found with given search criteria.
    div(ng-repeat='case in casesOnScreen') 
      div.row
        div.col-xs-12
          x-rha-case-search-result(case='case')
    div(ng-hide='SearchCaseService.cases.length === 0', style='border-top: 1px solid #cccccc')
      div.row
        div.col-xs-6.pull-right
          pagination.pagination-sm(
            style='float: right; cursor: pointer;',
            boundary-links='false',
            total-items='SearchCaseService.cases.length',
            on-select-page='selectPage(page)',
            items-per-page='itemsPerPage',
            page='currentPage',
            max-size='maxPagerSize',
            rotate='true')
        div.col-xs-6.pull-left(style='padding-top: 20px;')
          x-rha-export-csv-button
