div#rha-case-search.container-offset
  x-rha-header(page='searchCase')
  div.container-fluid
    div.row(style='padding-bottom: 10px;')
      div.col-xs-6
        x-rha-search-box(placeholder='Search')
      div.col-xs-3
        div.pull-right
          x-rha-chat-button
      div.col-xs-3
        button.btn.btn-secondary.pull-right(
          ng-disabled='!securityService.loginStatus.isLoggedIn',
          ui-sref='new', translate='') Open a New Support Case
    div.rha-bottom-border
    div.row(style='padding-bottom: 10px;')
      div.col-sm-2
        label(translate='') Status
        x-rha-status-select
      div.col-sm-2
        label(translate='') Severity
        x-rha-severity-select
      div.col-sm-2
        label(translate='') Type
        x-rha-type-select
      div.col-sm-2
        label(translate='') Group
        x-rha-group-select(show-search-options='true')
      div.col-sm-2
        label(translate='') Owner
        x-rha-owner-select
      div.col-sm-2
        label(translate='') Product
        x-rha-product-select
    div(ng-show='SearchCaseService.searching && securityService.loginStatus.isLoggedIn')
      div.row(style='padding-bottom: 4px;')
        div.col-xs-12
          span.rha-search-spinner
          h3(style='display: inline-block; padding-left: 4px;', translate='') Searching...
    div(ng-show='SearchCaseService.cases.length === 0 && !SearchCaseService.searching && securityService.loginStatus.isLoggedIn')
      div.row
        div.col-xs-12
          div {{'No cases found with given search criteria.'|translate}}
    div(ng-repeat='case in casesOnScreen') 
      div.row
        div.col-xs-12
          x-rha-case-search-result(case='case')
    div(ng-hide='SearchCaseService.cases.length === 0', style='border-top: 1px solid #cccccc')
      div.row
        div.col-xs-6.pull-right
          pagination.pagination-sm(
            style='float: right; cursor: pointer;',
            boundary-links='false',
            total-items='SearchCaseService.cases.length',
            on-select-page='selectPage(page)',
            items-per-page='itemsPerPage',
            page='currentPage',
            max-size='maxPagerSize',
            rotate='true')
        div.col-xs-6.pull-left(style='padding-top: 20px;')
          x-rha-export-csv-button
