div.input-group
  input#rha-searchform-searchbox.form-control(
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    placeholder='{{placeholder}}',
    ng-model='SearchBoxService.searchTerm',
    ng-keypress='onFilterKeyPress($event)',
    ng-change='SearchBoxService.onChange()')
  span.input-group-btn(ng-hide='hidebutton')
    button#rha-searchform-searchbutton.btn.btn-info.btn-xs(
      ng-click='SearchBoxService.doSearch()', 
      ng-disabled='!securityService.loginStatus.isLoggedIn')
      i.glyphicon.glyphicon-search
      |  {{''}}
