div(rha-selectloadingindicator='', loading='severitiesLoading', type='select2')
  select(
    chosen,
    ng-disabled='!securityService.loginStatus.isLoggedIn || CaseService.submittingCase',
    ng-model='CaseService.severity',
    ng-change='CaseService.onSelectChanged()',
    width='"100%"',
    ng-options='severity.name as severity.name for severity in CaseService.severities')
