select(chosen,
    width='"100%"',
	  ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.status',
    ng-change='CaseService.onSelectChanged()',
    ng-options='status.value as status.name for status in statuses',
    disable_search_threshold=10)

//- div(style='display: block')
//-   select#rha-status-select(
//-     chosen,
//-     ng-disabled='!securityService.loginStatus.isLoggedIn',
//-     ng-model='CaseService.status',
//-     ng-change='CaseService.onSelectChanged()',
//-     width='"100%"',
//-     ng-options='status.value as status.name for status in statuses')