div(rha-selectloadingindicator='', loading='typesLoading', type='select2')
  select(
    chosen,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.type',
    ng-change='CaseService.onSelectChanged()',
    width='"100%"',
    ng-options='type.name as type.name for type in CaseService.types')
