select#rha_type_select(
	chosen,
	ng-model='CaseService.kase.type',
	ng-change='onChange()',
	width='"100%"',
    data-placeholder="{{'Select an Option' | translate}}",
    no_results_text="'No match found'|translate",
	ng-options='type.name for type in CaseService.types track by type.name')
