.page-header(rha-header='', page='iceEscalationView')
div#redhat-access-escalations.container-offset(ng-show='securityService.loginStatus.authedUser.is_internal')
  h1
     span.rha-bold {{'GSS ICE Form'|translate}}
  p
    span {{'This Internal Customer Escalation submission form can be used by any Red Hat associate to obtain management support for issues that require attention outside of the standard support process. Please visit the '|translate}}
    a(target='_blank' , href='https://home.corp.redhat.com/node/66782') {{'GSS ICE FAQ'|translate}}
    span  {{'for more information about the ICE process.'|translate}}
  p
    span {{'Once the request is submitted, and ICE ticket will be raised in the GSS case management system and brought to the attention of the GSS leadership team.'|translate}}
  p
    span {{'The requestor will then receive an email (at the email address provided below) with the ICE ticket number and additional information on how to track the progress of their issue.'|translate}}
  p
    span {{'Please provide as much information/detail as possible in the form.'|translate}}
  p
    span {{'GSS is currently working on enhancing the ICE process through the use of email. Watch this space for more details as they become available.'|translate}}
  p
    span {{'If this form is not working for any reason please submit a ticket at helpdesk@redhat.com noting a problem with GSS Ticketing and the ICE form'|translate}}
  p
    span#requireFieldInfo.rha-bold {{'* All fields are mandatory.'|translate}}

  form#rha-case-escalation.form-horizontal
    div#rha-escalation.row.ng-scope(ng-controller = 'EscalationRequest')
      div.col-md-7.col-md-offset-1.push-bottom
        fieldset
          legend
            span.number 1
            | {{'Requestor'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-requestor-email') {{'Your Email address'|translate}}
            div.col-sm-7
              input#rha-requestor-email.form-control.nonEmpty(ng-model='EscalationRequestService.requestorEmail' ng-change="iceMandatoryFieldCheck()")
              span.help-block {{'Your Red Hat Email Address'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-requestor-phone') {{'Your Phone Number'|translate}}
            div.col-sm-7
              input#rha-requestor-phone.form-control.nonEmpty(ng-model='EscalationRequestService.requestorPhone' ng-change="iceMandatoryFieldCheck()")
              span.help-block {{'Your Red Hat Contact Phone Number'|translate}}
      div.col-md-7.col-md-offset-1.push-bottom
        fieldset
          legend
            span.number 2
            | {{'Customer'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-account-number') {{'Customer Account Number'|translate}}
            div.col-sm-7
              input#rha-account-number.form-control.nonEmpty(ng-model='EscalationRequestService.accountNumber' ng-change="iceMandatoryFieldCheck()")
              span.help-block {{'Please request the account number from the customer if possible, otherwise use your Red Hat account number.The account number can be found by clicking on the username in the top right corner of this page.'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-customer-name') {{'Customer Contact Name'|translate}}
            div.col-sm-7
              input#rha-customer-name.form-control.nonEmpty(ng-model='EscalationRequestService.customerName' ng-change="iceMandatoryFieldCheck()")
          div.form-group
            label.col-sm-5.control-label(for='rha-customer-contact-email') {{'Customer Contact Email'|translate}}
            div.col-sm-7
              input#rha-customer-contact-email.form-control.nonEmpty(ng-model='EscalationRequestService.customerEmail' ng-change="iceMandatoryFieldCheck()")
          div.form-group
            label.col-sm-5.control-label(for='rha-customer-contact-phone-number') {{'Customer Contact Number'|translate}}
            div.col-sm-7
              input#rha-customer-contact-phone-number.form-control.nonEmpty(ng-model='EscalationRequestService.customerPhone' ng-change="iceMandatoryFieldCheck()")
              span.help-block {{'For example: 1-888-467-3342'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-geo') {{'Customer GEO'|translate}}
            div.col-sm-7
              select#rha-geo.form-control.productSelect.nonEmpty(
              ng-model='EscalationRequestService.geo'
              ng-options='geo for geo in iceGeoList'
              ng-change="iceMandatoryFieldCheck()")
              span.help-block NA-North America, EMEA-Europe,the Middle East and Africa, LATAM-Latin America, APAC-Asia Pacific
      div.col-md-7.col-md-offset-1.push-bottom
        fieldset
          legend
            span.number 3
            | {{'Case Information'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-case-number') {{'Red Hat Support Ticket Number'|translate}}
            div.col-sm-7
              input#rha-case-number.form-control.nonEmpty(ng-model='EscalationRequestService.caseNumber' ng-change="iceMandatoryFieldCheck()")
              span.help-block {{'This is your 8 digit Red Hat Support ticket number'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-already-escalated') {{'Already Escalated?'|translate}}
            div.col-sm-7
              input#rha-already-escalated.nonEmpty(type='checkbox' ng-model='EscalationRequestService.alreadyEscalated')
          div.form-group
            label.col-sm-5.control-label(for='rha-issue-description') {{'Issue Description'|translate}}
            div.col-sm-7
              textarea#rha-issue-description.form-control.nonEmpty(ng-model='EscalationRequestService.issueDescription' ng-change="iceMandatoryFieldCheck()")
              span.help-block {{'Please provide as much detail as possible to help us understand the issue, for example:'|translate}}
                p
                  span {{'Reason for the escalation, the business context, the competitive situation, past support experience'|translate}}
                p
                  span {{'If you are requesting an account review, if this is related to aspecific problem/ticket or a series of problems/tickets or if this is a general or generic complain'|translate}}
                p
                  span {{'If this is a request for information from you or the customer and if you need us to contact you to discuss the issues.'|translate}}
          div.form-group
            label.col-sm-5.control-label(for='rha-expectations') {{'Expectation'|translate}}
            div.col-sm-7
              textarea#rha-expectations.form-control.nonEmpty(ng-model='EscalationRequestService.expectations' ng-change="iceMandatoryFieldCheck()")
              span.help-block {{'Please provide expectations and desired outcomes from yourself and from the customer'|translate}}

      div.clear
      div.col-md-7.col-md-offset-1.push-bottom
        button.btn.btn-primary(
           ng-click='submitEscalationRequest(ESCALATION_TYPE.ice)',
           ng-disabled='disableSendRequest', translate='') Send Request
