.row
    .col-sm-12
        .pull-right(ng-if='securityService.loginStatus.authedUser.is_internal')
            span &nbsp{{'Case Note:'|translate}}&nbsp;
            input#rha-case-comment-isPublic(type='checkbox', ng-model='CaseDetailsService.isCommentPrivate',ng-change= 'onCommentPrivateChange()')
textarea.comment.expand#case-comment-box.form-control(
ng-disabled='addingComment',
maxlength='32000',
rows='5',
ng-model='CaseDetailsService.commentText',
ng-change='onNewCommentKeypress()',
ng-click='CaseDiscussionService.commentTextBoxEnlargen=true',
ng-class='{"expanded": CaseDiscussionService.commentTextBoxEnlargen}',
ng-blur='shouldTextboxMinimize()')
div(ng-show='EDIT_CASE_CONFIG.showAttachments && securityService.loginStatus.authedUser.can_add_attachments')
    div(rha-listnewattachment='')
.row
    .col-xs-7
        #commentNotice.uploadNotice(ng-hide='progressCount < 90')
            span.progressBarWrap
                span.progressCount(translate) {{charactersLeft}} characters left.
        div(ng-hide='!securityService.loginStatus.authedUser.can_add_attachments', rha-attachFile='', disabled='CaseDetailsService.submittingCase')
            .margin-top-short(ng-bind-html='CaseAttachmentsService.parseArtifactHtml()')
    .col-xs-5
        .pull-right
            .spinner.spinner-inline(ng-show='addingComment || addingattachment')
            button#rha-case-addcommentbutton.btn.btn-app(
            ng-hide='addingComment || addingattachment',
            ng-disabled='(CaseDetailsService.disableAddComment && CaseAttachmentsService.updatedAttachments.length === 0)',
            ng-click='addComment()',
            translate='') Post
            a.margin-left#rha-case-addcommentbutton(ng-click='clearComment()',translate='',ng-hide='addingComment || addingattachment') Cancel
