section.case-discussion-ascension
    .spinner.spinner-inline(ng-show=' CaseDiscussionService.loadingComments')
    h3.section-title(ng-show='!CaseDiscussionService.loadingComments')
        .row
            .col-xs-12
                // Add Comment Section
               div(rha-addcomments='', loading='loading.comments')
        .row(ng-hide="discussionElements.length===0")
            .col-sm-6
                select#rha-discussion-filter(chosen,
                width='"auto"',
                ng-init="commentFilter = commentFilterList[0]"
                ng-model='commentFilter',
                ng-change='onFilterChange()',
                ng-options='commentFilter as commentFilter.name for commentFilter in commentFilterList')
            .col-sm-6
                div.pull-right
                    label {{'Sort by'|translate}}&nbsp;&nbsp;
                    select#rha-internalcomment-sort(chosen,
                    width='"auto"',
                    ng-init="CaseDiscussionService.commentSortOrder = commentSortOrderList[0]"
                    ng-model='CaseDiscussionService.commentSortOrder',
                    ng-change='onSortOrderChange()',
                    ng-options='commentOrder as commentOrder.name for commentOrder in commentSortOrderList')
        .row.case-discussion
            .col-xs-12
                .margin-top(id="{{element.id}}", ng-repeat="element in discussionElements track by element.externalModelId | orderBy:'resource.sortModifiedDate':commentSortOrder ", ng-if='!element.resource.draft')
                  article.comment.article-comment(ng-if="(element.resource.text && element.resource.public) && (element.resource.issueLink === undefined || element.resource.issueLink.resource.source !== 'Bugzilla')")
                    i.fa.fa-comments-o
                    h4.meta Message
                    .byline
                        author {{element.created_by}} {{'on'|translate}} &nbsp;
                        date {{element.created_time}}
                    .pre-wrap
                      .content(ng-if="!ie8 && !ie9", ng-bind-html="parseCommentHtml(element)")
                      .reply.text-right
                        a.glyphicon.glyphicon-link(ng-click='CaseService.scrollToComment(element.id)' ng-href='#/case/{{CaseService.kase.case_number}}?commentId={{element.id}}')

                  article.comment.article-private-comment(ng-if="(element.resource.text && !element.resource.public) && (element.resource.issueLink === undefined || element.resource.issueLink.resource.source !== 'Bugzilla')")
                    i.fa.fa-comments-o
                    h4.meta Case Note
                    .byline
                      author {{element.created_by}} {{'on'|translate}} &nbsp;
                      date {{element.created_time}}
                    .pre-wrap
                      .content(ng-if="!ie8 && !ie9", ng-bind-html="parseCommentHtml(element)")
                      .reply.text-right
                        a.glyphicon.glyphicon-link(ng-click='CaseService.scrollToComment(element.id)' ng-href='#/case/{{CaseService.kase.case_number}}?commentId={{element.id}}')

                  article.comment.article-attachment(ng-if="element.resource.name")
                    i.fa.fa-paperclip
                    h4.meta {{'Attachment'|translate}}
                    .byline
                      author {{element.created_by}} {{'on'|translate}} &nbsp;
                      date {{element.created_date}} &nbsp;
                      span {{'at'|translate}} &nbsp;
                      time {{element.created_time}}
                    .pre-wrap
                      a(href="{{element.uri}}")
                        .fa.fa-file-image-o.file-upload
                        span {{element.file_name}} ({{element.length | bytes}})&nbsp;
                        span.fa.fa-close(type='button', style='cursor: pointer;', ng-click='deleteAttachment(element)')
                      .description.margin-top-short(ng-show="element.description") {{element.description}}
                  
                  article.comment.article-chat(ng-if="element.comment_type === 'chat'")
                    i.fa.fa-file-text-o
                    h4.meta(ng-if="element.comment_type === 'chat'") {{'Transcript of chat between'|translate}}
                    .byline
                      span {{'between'|translate}}&nbsp;
                      author {{element.agent_name}}&nbsp;
                      span {{'and'|translate}}&nbsp;
                      author {{element.visitor_name}}&nbsp;
                      date {{element.last_modified_date}}&nbsp;
                      span {{'at'|translate}}&nbsp;
                      time {{element.last_modified_time}}
                    .pre-wrap(ng-if="element.comment_type === 'chat'", ng-bind-html="parseCommentHtml(element)")
                  
                  article.comment.article-bugzilla(ng-if="element.resource.issueLink !== undefined && element.resource.issueLink.resource.source === 'Bugzilla'")
                    i.fa.fa-bug
                    h4.meta {{'Bugzilla'|translate}}
                    .byline
                      span {{'between'|translate}}&nbsp;
                      author {{element.agent_name}}&nbsp;
                      span {{'and'|translate}}&nbsp;
                      author {{element.visitor_name}}&nbsp;
                      date {{element.last_modified_date}}&nbsp;
                      span {{'at'|translate}}&nbsp;
                      time {{element.last_modified_time}}
                    .pre-wrap(ng-if="element.comment_type === 'chat'", ng-bind-html="parseCommentHtml(element)")
                        

                //- article.comment(id="{{element.id}}", ng-repeat="element in CaseDiscussionService.discussionElements | orderBy:'resource.sortModifiedDate':commentSortOrder", ng-if='!element.resource.draft')
                //-     .row
                //-         .col-sm-4
                //-             h4.meta(ng-if="element.comment_type === 'chat'")
                //-                 span {{'Transcript of chat between'|translate}}
                //-                 .author.blue {{element.resource.user.resource.fullName}}
                //-                 span {{'and'|translate}}
                //-                 .author.blue {{element.visitor_name}}
                //-                 date.light {{element.resource.last_modified_date}} &nbsp;
                //-                 span.light {{'at'|translate}} &nbsp;
                //-                 time.light {{element.resource.last_modified_time}}
                //-             h4.meta(ng-if="element.comment_type !== 'chat'")
                //-                 .author.blue {{element.resource.createdBy.resource.fullName}}
                //-                 date.light {{element.resource.last_modified_date}} &nbsp;
                //-                 span.light {{'at'|translate}} &nbsp;
                //-                 time.light {{element.resource.last_modified_time}}
                //-                 .private(ng-if="element.resource.public !== undefined && element.resource.public === false && element.resource.issueLink === undefined") {{'Private'|translate}}
                //-                 .bugzilla(ng-if="element.resource.issueLink !== undefined && element.resource.issueLink.resource.source === 'Bugzilla'") 
                //-         .col-sm-8
                //-             blockquote.dialog-box.pre-wrap(ng-show="element.resource.text || element.resource.body")
                //-                span(ng-bind-html="parseCommentHtml(element)")
                //-                a.pull-right.commentReply(ng-click='commentReply(element.resource)',ng-show='element.resource.text', href='') {{'Reply'|translate}}
                //-             .dialog-box(ng-hide="element.resource.text || element.resource.body")
                //-                 a(href="{{element.resource.url}}")
                //-                     .fa.fa-file-image-o.file-upload
                //-                     span {{element.resource.name}} ({{element.resource.size}} kB)
                //-                 .fa.fa-close.pull-right(type='button', style='cursor: pointer;', ng-click='deleteAttachment(element)')
                //-                 .description.margin-top-short(ng-show="element.resource.description") {{element.resource.description}} 