section.case-details
  .row.row-short
    .col-sm-2
      h3.section-title.casedetailsheader.pre-wrapCase(translate,translate-comment="Noun") Case Details
      .spinner.spinner-inline(ng-show='CaseDetailsService.caseDetailsLoading')
    .col-sm-2
      a(ng-href='',ng-click='edit()', ng-hide='showEditCase || CaseDetailsService.caseDetailsLoading') {{'Edit'|translate}}
  form(name='caseOverviewForm')
    section.config-options-no-mar(ng-show='!CaseDetailsService.caseDetailsLoading')
        .row.row-very-short
            .col-md-2
               strong(translate,translate-comment="Noun") Created By
            .col-md-10
                span {{CaseDetailsService.kase.created_by}}
        .row.row-very-short
            .col-md-2
                strong(translate,translate-comment="Noun") Last Updated By
            .col-md-10
                span {{CaseDetailsService.kase.last_modified_by}}
        .row.row-very-short
            .col-md-2
                strong(translate,translate-comment="Noun") Product
            .col-md-10(ng-show='!showEditCase')
                span {{CaseDetailsService.kase.product}}
            .col-md-10(ng-show='showEditCase')
                select#rha-product-select.form-control(
                  chosen,
                  width='"100%"',
                  ng-disabled='CaseDetailsService.products.length === 0 || !securityService.loginStatus.isLoggedIn || CaseDetailsService.caseDetailsLoading',
                  ng-model='CaseDetailsService.kase.product',
                  ng-change='CaseDetailsService.kase.version=""; CaseDetailsService.getVersions(CaseDetailsService.kase.product)',
                  ng-options='p.code as p.name for p in CaseDetailsService.products')
        .row.row-very-short
            .col-md-2
                strong(translate,translate-comment="Noun") Version
            .col-md-10(ng-show='!showEditCase')
                span {{CaseDetailsService.kase.version}}
        .row.row-very-short
            .col-md-2
                strong(translate,translate-comment="Noun") Severity
            .col-md-10(ng-show='!showEditCase')
                span {{CaseDetailsService.kase.severity.name}}
        .row.row-very-short
            .col-md-2
                strong(translate,translate-comment="Noun") Internal Priority
            .col-md-10
                span {{CaseDetailsService.kase.internal_priority}}
        .row.row-very-short
            .col-md-2
                strong(translate,translate-comment="Noun") Case Type
            .col-md-10
                span {{CaseDetailsService.kase.type}}
        .row.row-very-short
            .col-md-2
               strong(translate,translate-comment="Noun") Case Resolution
            .col-md-10
               span {{CaseDetailsService.kase.resolution}}
        .row.row-very-short
          .col-md-2
            strong(translate,translate-comment="Noun") Status
          .col-md-10(ng-show='!showEditCase')
            span {{CaseDetailsService.kase.status.name}}
          .col-md-10(ng-show='showEditCase')
            select#rha-status-select(chosen,
              width='"100%"',
              ng-disabled='!securityService.loginStatus.isLoggedIn',
              ng-model='CaseDetailsService.kase.status',
              ng-options='s.name for s in CaseDetailsService.statuses track by s.name')
        .row.row-very-short
          .col-md-2
            strong(translate,translate-comment="Noun") Internal Status
          .col-md-10
            span {{CaseDetailsService.kase.internalStatus}}
          .col-md-10(ng-show='showEditCase')
            select#rha-product-version-select.form-control(
              chosen,
              width='"100%"',
              ng-model='CaseDetailsService.kase.version',
              ng-options='v for v in CaseDetailsService.versions',
              ng-disabled='CaseDetailsService.versionDisabled || CaseDetailsService.kase.product === undefined || !securityService.loginStatus.isLoggedIn || CaseDetailsService.caseDetailsLoading')
        .row.row-very-short
          .col-md-2
             strong(translate,translate-comment="Noun") SBR Group
          .col-md-10
              span {{CaseDetailsService.kase.sbr_group}}
          .col-md-10(ng-show='showEditCase')
              select#rha-severity-select.form-control(
                chosen,
                width="'100%'",
                name='severity',
                ng-model='CaseDetailsService.kase.severity',
                ng-options='s.name for s in CaseDetailsService.severities track by s.name')
        .row(ng-show='showEditCase')
          .col-sm-12
            button.btn.btn-app.btn-submit(
              name='updateButton',
              ng-disabled='updatingDetails || !caseOverviewForm.$dirty',
              ng-click='updateCase()', translate='') Save Changes
            a.margin-left(
              ng-hide='updatingDetails',
              ng-click='resetData()',translate='') Cancel
            &nbsp;
            .spinner.spinner-sm.spinner-inline(ng-show='updatingDetails')
