section.case-discussion-ascension
    .spinner.spinner-inline(ng-show='CaseDiscussionService.loadingComments')
    h3.section-title(ng-show='!CaseDiscussionService.loadingComments')
        .row
            .col-xs-12
                button.btn.btn-app.btn-sm.pull-right(ng-disabled='',
                  ng-click='initiateBomgar()',
                  translate='') Initiate Bomgar Session
        .row
            .col-xs-12
                // Add Comment Section
               div(rha-addcomments='', loading='loading.comments')
        .row(ng-hide="commentFilter === commentFilterList[0] && discussionElements.length===0")
            .col-sm-6
                select#rha-discussion-filter(chosen,
                width='"auto"',
                ng-init="commentFilter = commentFilterList[0]"
                ng-model='commentFilter',
                ng-change='onFilterChange()',
                ng-options='commentFilter as commentFilter.name for commentFilter in commentFilterList')
            .col-sm-6
                div.pull-right
                    label {{'Sort by'|translate}}&nbsp;&nbsp;
                    select#rha-internalcomment-sort(chosen,
                    width='"auto"',
                    ng-init="CaseDiscussionService.commentSortOrder = commentSortOrderList[0]"
                    ng-model='CaseDiscussionService.commentSortOrder',
                    ng-change='onSortOrderChange()',
                    ng-options='commentOrder as commentOrder.name for commentOrder in commentSortOrderList')
        .row.case-discussion-ascension
            .col-xs-12
                .margin-top(id="{{element.id}}", ng-repeat="element in discussionElements | orderBy:'resource.sortModifiedDate':commentSortOrder track by $index", ng-if='!element.resource.draft')
                  article.comment.article-comment(ng-if="(element.resource.text && element.resource.public) && (element.resource.issueLink === undefined || element.resource.issueLink.resource.source !== 'Bugzilla')")
                    i.fa.fa-comments-o
                    h4.meta Message
                    .byline
                        author {{element.resource.createdBy.resource.fullName}} {{'on'|translate}} &nbsp;
                        date {{element.resource.last_modified_date}} &nbsp;
                        span {{'at'|translate}} &nbsp;
                        time {{element.resource.last_modified_time}}
                    .pre-wrap
                      .content( ng-bind-html="parseCommentHtml(element)")
                      a.pull-right.commentReply(ng-click='commentReply(element.resource)',ng-show='element.resource.text', href='') {{'Reply'|translate}}

                  article.comment.article-private-comment(ng-if="(element.resource.text && !element.resource.public) && (element.resource.issueLink === undefined || element.resource.issueLink.resource.source !== 'Bugzilla')")
                    i.fa.fa-comments-o
                    h4.meta Case Note
                    .byline
                      author {{element.resource.createdBy.resource.fullName}} {{'on'|translate}} &nbsp;
                      date {{element.resource.last_modified_date}} &nbsp;
                      span {{'at'|translate}} &nbsp;
                      time {{element.resource.last_modified_time}}
                    .pre-wrap
                      .content(ng-bind-html="parseCommentHtml(element)")
                      a.pull-right.commentReply(ng-click='commentReply(element.resource)',ng-show='element.resource.text', href='') {{'Reply'|translate}}


                  article.comment.article-attachment(ng-if="element.resource.name")
                    i.fa.fa-paperclip
                    h4.meta {{'Attachment'|translate}}
                    .byline
                      author {{element.resource.createdBy.resource.fullName}} {{'on'|translate}} &nbsp;
                      date {{element.resource.last_modified_date}} &nbsp;
                      span {{'at'|translate}} &nbsp;
                      time {{element.resource.last_modified_time}}
                    .pre-wrap
                      a(href="{{element.resource.url}}")
                        .fa.fa-file-image-o.file-upload
                        span {{element.resource.name}} ({{element.resource.size | bytes}})&nbsp;
                      span.fa.fa-close(type='button', style='cursor: pointer;', ng-click='deleteAttachment(element)')
                      .description.margin-top-short(ng-show="element.resource.description") {{element.resource.description}}

                  article.comment.article-chat(ng-if="element.comment_type === 'chat'")
                    i.fa.fa-file-text-o
                    h4.meta(ng-if="element.comment_type === 'chat'") {{'Transcript of chat'|translate}}
                    .byline
                      span {{'between'|translate}}&nbsp;
                      author {{element.resource.user.resource.fullName}} &nbsp;
                      span {{'and'|translate}}&nbsp;
                      author {{element.resource.customerUser.resource.fullName}} {{'on'|translate}} &nbsp;
                      date {{element.resource.last_modified_date}}&nbsp;
                      span {{'at'|translate}}&nbsp;
                      time {{element.resource.last_modified_time}}
                    .pre-wrap(ng-if="element.comment_type === 'chat'", ng-bind-html="parseCommentHtml(element)")

                  article.comment.article-bomgar(ng-if="element.comment_type === 'bomgar'")
                    i.fa.fa-users
                    h4.meta(ng-if="element.comment_type === 'bomgar'") {{'Bomgar Session '|translate}}
                    .byline
                      span {{'Started by'|translate}}&nbsp;
                      author {{element.resource.customerUser.resource.fullName}} &nbsp; {{'on'|translate}} &nbsp;
                      date {{element.resource.last_modified_date}}&nbsp;
                      span {{'at'|translate}}&nbsp;
                      time {{element.resource.last_modified_time}}
                    .pre-wrap
                      .content(translate='') Rep: {{element.resource.supportUser.resource.fullName}} Duration: {{element.resource.durationMins | number:2}} min.
                      a(href="{{element.resource.recordingUrl}}")
                        .fa.fa-download
                        span(translate='') &nbsp;Download Recording

                  article.comment.article-bugzilla(ng-if="element.resource.issueLink !== undefined && element.resource.issueLink.resource.source === 'Bugzilla'")
                    i.fa.fa-bug
                    h4.meta {{'Bugzilla'|translate}}
                    .byline
                          author {{element.resource.createdBy.resource.fullName}} {{'on'|translate}} &nbsp;
                          date {{element.resource.last_modified_date}} &nbsp;
                          span {{'at'|translate}} &nbsp;
                          time {{element.resource.last_modified_time}}
                    .pre-wrap(ng-bind-html="parseCommentHtml(element)")



